#navigationBar {
    background-color: #6C639C;
}

#logout{
    position: relative;
    right: 10px;
    color: white;
}

#tutor{
    color: white;
}

  /* GENERAL BUTTON STYLING */
.status,
.status::after {
    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
        transition: all 0.3s;
}

.status {
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 10 10;
    position: relative;
    text-transform: uppercase;
}

.status::before,
.status::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.danger_message{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin: 0 30%;
    border: 1px solid transparent;
}
