/* TUTEE HOME*/
#tutee_home{
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
}

#create_post{
    position: absolute;
    left: 50vw;
    top: 50vh;
}

/* TUTOR HOME */
.tableDiv {
    margin: auto;
    width: calc(100vw - 250px);
}

.tableDiv tr {
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.tableDiv th {
  padding: 8px;
}

.tableDiv td {
  padding: 8px;
  font-size: 15px;
}

.dot {
    position: relative;
    top: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
  }

#finding{
    background-color: green;
}

#ongoing{
    background-color: #fcba03;
}

#found{
    background-color: #bbb;
}

#createRoomBtn {
  position: relative;
  float: right;
  top: 35px;
  right: calc((100vw - (100vw - 250px))/2);
  width: 80px;
  height: 40px;
  font-size: 15px;
  padding: 8px 10px 8px 10px;
  background-color: #6C639C;
  border-color: #6C639C;
}

#post_table_div{
  position: relative;
  top: 15px;
}

#mainpage_table_div{
  position: relative;
  top: 50px;
}

#post-top{
    margin-left:1200px;
    margin-top:10px;
    margin-bottom:10px;
}

#mybutton  {
	background-color:white;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #5246a0;
	display:inline-block;
	color:#52527a;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
height:40px;
	line-height:30px;
width:90px;
	text-decoration:none;
	text-align:center;
}#mybutton:hover {
    background-color:#e9e6f5;
}#mybutton:active {
	position:relative;
	top:1px;
}#mybutton:disabled,
#mybutton[disabled]{
    background-color:#d7d6d8;
    color:#22192b;
    font-weight:normal;
}

#mainpage_ongoing_table_div {
  position: relative;
  top: 40px;
}

#mainpage_ongoing_table{
  font-size: 13px;
}

.table {
  padding: 10px;
}

.create_room{
    position:relative;
    top:50%;
    margin-left:90%;
}

a{
    color:black;
}
a:hover{
    color:#261597;
    text-decoration:underline;
}
.mypage_table{
  position: relative;
  top: 60px;
}


.form-style-7{
	max-width:400px;
	margin:50px auto;
	background:#fff;
    border-radius:2px;
    border: solid #bebbc2;
	padding:20px;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
    border:1px solid #DDDDDD;
    border-bottom: 3px solid #DDDDDD;
	margin-top: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #8c8a8f;
	font-size: 14px;
}

.form-style-7 input[type="text"],
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
    border-color:#cfcfd3;
    border-width: thin;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
}
.form-style-7 #nickname{
    outline:None;
    border:None;
}

.form-style-7 input[type="text"]:focus,
.form-style-7 select:focus 
{
}

.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #7a6ebe;
	border: none;
	padding: 5px 20px 5px 20px;
	border-bottom: 3px solid #3f395e;
	border-radius: 3px;
    color: white;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #d7d1fc;
    color:#534892;
}

#nickname-error{
    text-align : center;
    margin-top:0.5em;
    height:20px;
    padding-top:5px;
    padding-bottom:20px;
}
#handong-login-required{
    width: 50%;
    text-align:center;
    margin:auto;
}

.form-signin .btn {
  font-size: 90%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  width: 300px;
}

.btn-google {
  color: white;
  background-color: #db3d30;
}

#google {
  position: relative;
  left: calc(50% - 150px);
  top: 300px;
}

