{% extends 'matching/base.html' %}

{% load account socialaccount %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags and message.tags == "info" %}
            <p class="alert alert-info" id="handong-login-required">{{ message }}</p>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

{% load static %}
<div id="sign_in_div">
  <img id="logo" src="{% static 'matching/images/handong_logo.jpg' %}" alt="Handong Global University Logo">
  <form id="google" class="form-signin" action="{% provider_login_url 'google' %}"  method="POST">
    {% csrf_token %}
    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
  </form>
</div>
<!-- https://www.notion.so/Histutor-Guideline-1112f633040742a280749b9a449a13b2 -->

<div id="contact_info" class="text-center">
  <i id="contact_info_icon" class="fa fa-address-card-o"></i>
  <p><a href='mailto:hisystem@handong.edu' target='_blank'>hisystem@handong.edu </a></p>
</div>


{% endblock %}
