{% extends 'matching/base.html' %}

{% block content %}

<div class="tableDiv mypage_table">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:admin_home' %}">튜터 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:tutee_list' %}">튜티 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:userlist' %}">사용자 목록</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">튜터 신청 목록</a>
  </li>
</ul>

<div class="tableDiv mypage_table">

  <div id="post_table_div" class="tableDiv">
      <table id="post_table" class="table">
          <thead>
          <tr>
            <th scope="col" style="width:50px" class="text-center">번호</th>
            <th scope="col" class="text-center">학생</th>
            <th scope="col" class="text-center">이메일</th>
            <th scope="col" class="text-center">신청일</th>
            <th scope="col" class="text-center">튜터 권한 지정</th>
            <th scope="col" class="text-center">거절</th>
          </tr>
          </thead>
          <tbody>
          {% for apply in applylist %}
            <tr>
                <td class="text-center text-nowrap align-middle"> {{apply.pk}} </td>
                <td class="text-center text-nowrap align-middle"><a href="#applymodal" data-toggle="modal" data-target="#applymodal{{apply.pk}}">{{apply.user.profile.nickname}}</a></td>
                <td class="text-center text-nowrap align-middle">{{apply.user.email}}</td>
                <td class="text-center text-nowrap align-middle">{{apply.date}}</td>
                <td class="text-center text-nowrap align-middle">
                    <button class="mybutton" type="submit"  data-toggle="modal" data-target="#makeTutor{{apply.user.pk}}">지정</button>
                </td>
                <td class="text-center text-nowrap align-middle">
                  <button class="mybutton" type="submit"  data-toggle="modal" data-target="#remove{{apply.user.pk}}">거절</button>
              </td>
            </tr>

            <div id="applymodal{{apply.pk}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">튜터 신청서</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>사용자: {{apply.user.profile.nickname}}</p>
                    <p>이메일: {{apply.user.email}}</p>
                    <p>신청내용: {{apply.content}} </p>
                </div>
                </div>
            </div>
            </div>

            <div class="modal fade" id="makeTutor{{apply.user.pk}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">튜터 권한 지정</h4>
                </div>
                <div class="modal-body">
                    <p>{{apply.user.email}} : {{ appply.user.profile.nickname}} </p>
                    <p>해당 사용자에게 튜터 권한을 주시겠습니까?</p>
                    <div class="row" style="float: right;">
                        <div class="col-12-xs text-center" style="margin-right: 1em;">
                            <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                            <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:make_tutor" apply.user.pk %}'">Yes</button>
                        </div>
                    </div>
                </div>
    
                </div>
            </div>
            </div>

            <div class="modal fade" id="remove{{apply.user.pk}}" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">튜터 권한 거절</h4>
                  </div>
                  <div class="modal-body">
                      <p>{{apply.user.email}} : {{ appply.user.profile.nickname}} </p>
                      <p>해당 사용자에게 튜터 신청을 거절하시겠습니까?</p>
                      <div class="row" style="float: right;">
                          <div class="col-12-xs text-center" style="margin-right: 1em;">
                              <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                              <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:remove_application" apply.user.pk %}'">Yes</button>
                          </div>
                      </div>
                  </div>
      
                  </div>
              </div>
              </div>
          {% endfor %}
          </tbody>
      </table>

  </div>

</div>


{% endblock %}
