{% extends 'matching/base.html' %}

{% block content %}

<div class="tableDiv mypage_table">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:admin_home' %}">튜터 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">튜티 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:admin_session_list' %}">TA세션별 통계</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:userlist' %}">사용자 목록</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:apply_list' %}">튜터 신청 목록</a>
  </li>
</ul>

<div class="tableDiv mypage_table">

  <div id="post_table_div" class="tableDiv">
      <table id="post_table" class="table">
          <thead>
          <tr>
            <th scope="col" style="width:50px" class="text-center">번호</th>
            <th scope="col" class="text-center">학생</th>
            <th scope="col" class="text-center">이메일</th>
            <th scope="col" class="text-center">튜터링 신청 횟수</th>
          </tr>
          </thead>
          <tbody>
          {% for tutee in tutee_list %}
            <tr>
                <td class="text-center text-nowrap align-middle"> {{tutee.pk}} </td>
                <td class="text-center text-nowrap align-middle"><a href="{% url 'matching:tutee_detail' tutee.pk %}">{{tutee.profile.nickname}}</a></td>
                <td class="text-center text-nowrap align-middle">{{tutee.email}}</td>
                <td class="text-center text-nowrap align-middle">{{tutee.num_posts}}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>

  </div>

  {% if tutee_list %}
  {% if tutee_list.has_other_pages %}
  <nav aria-label="...">
    <ul class="pagination">
      {% if tutee_list.number == 1 %}
        <li class="page-item"><span class="page-link">⇤<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page=1">⇤</a></li>
      {% endif %}
      {% if tutee_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ tutee_list.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="page-item"><span class="page-link">&laquo;<span class="sr-only">(current)</span></span></li>
      {% endif %}
      {% for i in paginatorRange %}
        {% if tutee_list.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if tutee_list.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{tutee_list.next_page_number}}">&raquo;</a></li>
      {% else %}
      <li class="page-item"><span class="page-link">&raquo;<span class="sr-only">(current)</span></span></li>
      {% endif %}
      {% if tutee_list.number == tuteePaginator.num_pages %}
        <li class="page-item"><span class="page-link">⇥<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{tuteePaginator.num_pages}}">⇥</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  {% endif %}

</div>


{% endblock %}
