{% extends 'matching/base.html' %}

{% block title %}
<title>관리자 페이지</title>
{% endblock %}

{% block content %}

<div class="tableDiv mypage_table">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:admin_home' %}">튜터 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:tutee_list' %}">튜티 현황</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:admin_session_list' %}">TA세션별 통계</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">사용자 목록</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:apply_list' %}">튜터 신청 목록</a>
  </li>
</ul>

<div id="post_table_div" class="tableDiv">
    <div id="search" class="col-md-4 col-md-offset-3">
        <form action="" class="search-form" method="get">
            <div class="form-group has-feedback">
        		<label for="search" class="sr-only">Search</label>
        		<input id="search_label" type="text" class="form-control" name="search_word" id="search" placeholder="search">
          		<span id="search_icon" class="fas fa-search form-control-feedback" ></span>
        	</div>
        </form>
    </div>
    {% if search_word %}
    <p><b>"{{search_word}}"에 대한 결과: </b></p>
    {% endif %}
  <table id="post_table" class="table">
      <thead>
      <tr>
        <th scope="col" style="width:50px" class="text-center">번호</th>
        <!--<th scope="col" class="text-center">주제</th>-->
        <th scope="col" class="text-center">학생</th>
        <th scope="col" class="text-center">e-mail</th>
        <th scope="col" class="text-center">튜터 권한 지정</th>
        <th scope="col" class="text-center">튜터 권한 제거</th>
        <th scope="col" class="text-center">관리자 권한 지정</th>
        <th scope="col" class="text-center">관리자 권한 제거</th>
      </tr>
      </thead>
      <tbody>
      {% for user in userlist %}
        <tr>
            <td class="text-center text-nowrap align-middle"> {{user.pk}} </td>
            <td class="text-center text-nowrap align-middle">{{ user.profile.nickname }}</a></td>
            <td class="text-center text-nowrap align-middle">{{ user.email }}</td>
            <td class="text-center text-nowrap align-middle">
                {% if not user.profile.is_tutor %}
                <button class="mybutton" type="submit"  data-toggle="modal" data-target="#makeTutor{{user.pk}}">지정</button>
                {% endif %}
            </td>
            <td class="text-center text-nowrap align-middle">
                {% if user.profile.is_tutor %}
                <button class="mybutton" type="submit"  data-toggle="modal" data-target="#removeTutor{{user.pk}}">제거</button>
                {% endif %}
            </td>
            <td class="text-center text-nowrap align-middle">
                {% if not user.is_staff %}
                <button class="mybutton" type="submit"  data-toggle="modal" data-target="#makeStaff{{user.pk}}">지정</button>
                {% endif %}
            </td>
            <td class="text-center text-nowrap align-middle">
                {% if user.is_staff %}
                <button class="mybutton" type="submit"  data-toggle="modal" data-target="#removeStaff{{user.pk}}">제거</button>
                {% endif %}
            </td>
        </tr>

        <div class="modal fade" id="makeTutor{{user.pk}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">튜터 권한 지정</h4>
            </div>
            <div class="modal-body">
                <p>{{user.email}} : {{ user.profile.nickname}} </p>
                <p>해당 사용자에게 튜터 권한을 주시겠습니까?</p>
                <div class="row" style="float: right;">
                    <div class="col-12-xs text-center" style="margin-right: 1em;">
                        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:make_tutor" user.pk %}'">Yes</button>
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>


        <div class="modal fade" id="removeTutor{{user.pk}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">튜터 권한 제거</h4>
            </div>
            <div class="modal-body">
                <p>{{user.email}} : {{ user.profile.nickname}} </p>
                <p>해당 사용자에게 튜터 권한을 제거하시겠습니까?</p>
                <div class="row" style="float: right;">
                    <div class="col-12-xs text-center" style="margin-right: 1em;">
                        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:remove_tutor" user.pk %}'">Yes</button>
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>

        <div class="modal fade" id="makeStaff{{user.pk}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">관리자 권한 지정</h4>
                </div>
                <div class="modal-body">
                    <p>{{user.email}} : {{ user.profile.nickname}} </p>
                    <p>해당 사용자에게 관리자 권한을 주시겠습니까?</p>
                    <div class="row" style="float: right;">
                        <div class="col-12-xs text-center" style="margin-right: 1em;">
                            <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                            <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:make_staff" user.pk %}'">Yes</button>
                        </div>
                    </div>
                </div>

                </div>
            </div>
            </div>


            <div class="modal fade" id="removeStaff{{user.pk}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">관리자 권한 제거</h4>
                </div>
                <div class="modal-body">
                    <p>{{user.email}} : {{ user.profile.nickname}} </p>
                    <p>해당 사용자에게 관리자 권한을 제거하시겠습니까?</p>
                    <div class="row" style="float: right;">
                        <div class="col-12-xs text-center" style="margin-right: 1em;">
                            <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                            <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:remove_staff" user.pk %}'">Yes</button>
                        </div>
                    </div>
                </div>

                </div>
            </div>
            </div>
      {% endfor %}
      </tbody>
  </table>
</div>


{% if userlist %}
{% if userlist.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination">
    {% if userlist.number == 1 %}
      <li class="page-item"><span class="page-link">⇤<span class="sr-only">(current)</span></span></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="?page=1">⇤</a></li>
    {% endif %}
    {% if userlist.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ userlist.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item"><span class="page-link">&laquo;<span class="sr-only">(current)</span></span></li>
    {% endif %}
    {% for i in paginatorRange %}
      {% if userlist.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if userlist.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{userlist.next_page_number}}">&raquo;</a></li>
    {% else %}
    <li class="page-item"><span class="page-link">&raquo;<span class="sr-only">(current)</span></span></li>
    {% endif %}
    {% if userlist.number == userPaginator.num_pages %}
      <li class="page-item"><span class="page-link">⇥<span class="sr-only">(current)</span></span></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="?page={{userPaginator.num_pages}}">⇥</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endif %}

</div>



{% endblock %}
