<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'matching/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'matching/style.css' %}">
		<script src="https://kit.fontawesome.com/f99623035e.js" crossorigin="anonymous"></script>

		{% block title %}
		<title>HisTutor</title>
		{% endblock %}

		{% block style %}
		{% endblock %}
	</head>

	{% load socialaccount %}
	<body>
		<nav id="navigationBar" class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="{% url 'matching:index'%}">HisTutor</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item">
					{% if user.is_authenticated %}
						{% if user.is_staff %}
						<a id="admin" href="{% url 'matching:admin_home' %}">Admin</a>
						{% endif %}
						{% if user.profile.is_tutor %}
						<a id="tutor" href="{% url 'matching:tutor_home' %}">Tutor</a>
						{% endif %}
						<a id="tutee" href="{% url 'matching:tutee_home' %}">Tutee</a>
						<a id="mypage" href="{% url 'matching:tutee_mypage' %}">My Page</a>
					{% endif %}
				  </li>
				<!--
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
				-->
			  </ul>
			  <form class="form-inline my-2 my-lg-0">
				{% if user.is_authenticated %}
					<a id="logout" href="{% url 'account_logout' %}">Logout</a>
					<a class="navbar-brand">{{ user.profile.nickname }}</a>
				{% else %}
					<a href="{% provider_login_url 'google' %}">Login with Google</a>
				{% endif %}
			  </form>
			</div>
		  </nav>

		<!--<div class="container-fluid">-->
			{% block content %}
			{% endblock %}
		<!--</div>-->

		<!-- JQuery, Popper.js, Bootstrap JS-->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	</body>
</html>
