<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">

		{% load static %}
		{% load google_translate %}
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<!-- messages CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'matching/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'matching/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'matching/search_bar.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'matching/session_report.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'matching/mypage.css' %}">
		<script src="https://kit.fontawesome.com/f99623035e.js" crossorigin="anonymous"></script>

		<style>
			@font-face {
				font-family: BinggraeMelona;
				src: url("{% static 'matching/fonts/BinggraeMelona.ttf' %}");
			}
			@font-face {
				font-family: IropkeBatangM;
				src: url("{% static 'matching/fonts/IropkeBatangM.ttf' %}");
			}

			body{
			    font-family: BinggraeMelona;
			}
		</style>

		{% block title %}
		<title>HisTutor</title>
		{% endblock %}

		{% block style %}
		{% endblock %}
	</head>

	{% load socialaccount %}
	<body>
		<nav id="navigationBar" class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="{% url 'matching:mainpage' 'all' %}">HisTutor</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item">
					{% if user.is_authenticated %}
						{% if user.is_staff %}
						<a id="admin" href="{% url 'matching:admin_home' %}"><button class="status">Admin</button></a>
						{% elif user.profile.is_tutor %}
						<button class="status" disabled>tutor</button>
						{% else %}
						<button class="status" disabled>tutee</button>
						{% endif %}
					{% endif %}
					</li>
					<li>
						<button class='language'>
							<img src="{% static 'matching/images/google_translate.png' %}" style='width:1.8rem; margin-left:1rem'> 
						</button>
					</li>
				</ul>
			  <div class="form-inline my-2 my-lg-0">
				{% if user.is_authenticated %}
					<a id="logout" href="{% url 'account_logout' %}">Logout</a>
					<a class="navbar-brand">{{ user.profile.nickname }}</a>
					<button type="button" onclick="location.href='{% url "matching:mypage" %}'" class="status">My Page</button>
				{% endif %}
			  </div>
			</div>
		</nav>
		<div class='language hidden'>
			<div style="display:inline-block;">{% google_translate type='vertical' language='ko' %}</div>
		</div>
			{% block content %}
			{% endblock %}

		</div>

		<!-- JQuery, Popper.js, Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script type='module' src="{% static 'matching/js/index.js' %}" ></script>
		<script type='module' src="{% static 'matching/js/main.js' %}" ></script>
	</body>
</html>
