{% extends 'matching/base.html' %}

{% block title %}
<title>Main Page</title>
{% endblock %}

{% block content %}
<button id="createRoomBtn" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">방만들기</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form action="" method="POST">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">방 새로 만들기</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>채팅방의 주제를 파악할 수 있는 이름을 지어주세요.</p>
        {% csrf_token %}
        {% for field in form %}
          이름: {{field}}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button> -->
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    </form>

  </div>
</div>

<div id="mainpage_table_div" class="tableDiv">
    <table id="mainpage_table" class="table">
        <thead>
        <tr>
            <th scope="col" class="text-center">번호</th>
            <!--<th scope="col" class="text-center">주제</th>-->
            <th scope="col" class="text-center">방 이름</th>
            <th scope="col" class="text-center">닉네임</th>
            <th scope="col" class="text-center">시간</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="text-center"> {{post.pk}} </td>
                <!--<td scope="row" class="text-center">{{post.get_topic_display}}</td>-->
                {% if post.finding_match ==  True %}
                <td> <span id="finding" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title}}</a></td>
                {% else %}
                <td> <span id="found" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title}}</a></td>
                {% endif %}
                <td class="text-center">{{post.user.profile.nickname}}</td>
                <td class="text-center">{{post.pub_date|date:'Y-m-d'}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if posts.has_other_pages %}
      <ul class="pagination">
        {% if posts.number == 1 %}
          <li class="disabled"><span>⇤</span></li>
        {% else %}
          <li><a class="page-link" href="?page=1">⇤</a></li>
        {% endif %}
        {% if posts.has_previous %}
          <li><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginatorRange %}
          {% if posts.number == i %}
            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li><a class="page-link" href="?page={{posts.next_page_number}}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        {% if posts.number == postPaginator.num_pages %}
          <li class="disabled"><span>⇥</span></li>
        {% else %}
          <li><a class="page-link" href="?page={{postPaginator.num_pages}}">⇥</a></li>
        {% endif %}
      </ul>
    {% endif %}
</div>

{% if not posts %}
    <p>등록된 post가 없음</p>
{% endif %}

<script>
  const websocket = new WebSocket('ws://' + window.location.host + '/ws/tutorhome/');

  websocket.onmessage = function(e) {
    const data = JSON.parse(e.data);

    // Set table structure
    var table = document.getElementById("mainpage_table");
    var row = table.insertRow(1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);

    // post number
    cell1.className = "text-center";
    cell1.innerHTML = data.id;

    // title
    var findingIcon = document.createElement("SPAN");
    if (data.finding == true){
      findingIcon.id = "finding";
    } else {
      findingIcon.id = "found";
    }
    findingIcon.className = "dot";
    cell2.append(findingIcon);
    cell2.innerHTML += "&nbsp;&nbsp;&nbsp;";
    var postDetail = document.createElement("A");
    postDetail.href=`/matching/post/detail/${data.id}`;
    postDetail.innerHTML = data.title;
    cell2.append(postDetail);

    // nickname
    cell3.className = "text-center";
    cell3.innerHTML = data.nickname;

    // time
    cell4.className = "text-center";
    cell4.innerHTML = data.pub_date.substring(1, 11);
  };

  websocket.onclose = function(e){
    console.error('Chat socket closed unexpectedly');
  };

</script>

{% endblock %}
