{% extends 'matching/base.html' %}

{% block title %}
<title>Main Page</title>
{% endblock %}

{% block style %}
<style>
  .dropdown-menu {
    min-width : 20rem;
  }
</style>
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ tsform.media }}
{% endblock %}

{% block content %}

<div>
  <ul class="messages">
    {% for message in messages %}
        {% if message.tags and message.tags == "error" %}
        <p class="danger_message" id="nickname-error">{{ message }}</p>
        {% endif %}
    {% endfor %}
  </ul>
  <div id="mainpage_ongoing_table_div" class="tableDiv">
  <table id="mainpage_ongoing_table" class="table table-bordered w-auto">
    <tbody>
      {% if ongoing_session %}
      <tr>
        <th class="align-middle text-center text-nowrap">진행중인 튜터세션</th>
        <td class="align-middle text-center text-nowrap">튜터 : {{ ongoing_session.user.profile.nickname }}</td>
        <td class="align-middle" location.href= "{% url 'matching:session_detail' ongoing_session.pk %}">제목 : <a href="{% url 'matching:session_detail' ongoing_session.pk %}">{{ ongoing_session.title|truncatechars:50 }}</a></td>
        <td class="align-middle text-center">
            <button class="mybutton" type="submit"  data-toggle="modal" data-target="#endSession">세션종료</button>
        </td>
      </tr>

      <div class="modal fade" id="endSession" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">튜터 세션 종료</h4>
            </div>
            <div class="modal-body">
              <p>정말로 진행중인 튜터세션을 종료하시겠습니까?</p>
              <div class="row" style="float: right;">
                  <div class="col-12-xs text-center" style="margin-right: 1em;">
                      <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                      <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:end_session" ongoing_session.pk %}'">Yes</button>
                  </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>

      {% endif %}
      {% if ongoing_post %}
      <tr>
        <th class="align-middle text-center text-nowrap">모집중인 튜터링</th>
        <td class="align-middle text-center text-nowrap">튜티 : {{ ongoing_post.user.profile.nickname }}</td>
        <td class="align-middle" location.href= "{% url 'matching:post_detail' ongoing_post.pk %}">제목 : <a href="{% url 'matching:post_detail' ongoing_post.pk %}">{{ ongoing_post.title|truncatechars:50 }}</a></td>
        <td class="align-middle text-center">
            <button class="mybutton" type="submit"  data-toggle="modal" data-target="#postDeleteModal">모집취소</button>
        </td>
      </tr>

      <div class="modal fade" id="postDeleteModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">튜터링 모집 취소</h4>
            </div>
            <div class="modal-body">
              <p>정말로 튜터링 모집을 취소하시겠습니까?</p>
              <div class="row" style="float: right;">
                  <div class="col-12-xs text-center" style="margin-right: 1em;">
                      <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                      <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:close_post" ongoing_post.pk %}'">Yes</button>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      {% elif ongoing_tutoring_tutee %}
      <tr>
        <th class="align-middle text-center text-nowrap">진행중인 튜터링</th>
        <td class="align-middle text-center text-nowrap">튜티 : {{ ongoing_tutoring_tutee.user.profile.nickname }}</td>
        <td class="align-middle" location.href= "{% url 'matching:post_detail' ongoing_tutoring_tutee.pk %}">제목 : <a href="{% url 'matching:post_detail' ongoing_tutoring_tutee.pk %}">{{ ongoing_tutoring_tutee.title }}</a></td>
      </tr>
      {% endif %}
      {% if ongoing_tutoring %}
      <tr>
        <th class="align-middle text-center text-nowrap">진행중인 튜터링</th>
        <td class="align-middle text-center text-nowrap">튜티 : {{ ongoing_tutoring.user.profile.nickname }}</td>
        <td class="align-middle" location.href= "{% url 'matching:post_detail' ongoing_tutoring.pk %}">제목 : <a href="{% url 'matching:post_detail' ongoing_tutoring.pk %}">{{ ongoing_tutoring.title }}</a></td>
        <td class="align-middle text-center">
        <button class="mybutton" type="submit"  data-toggle="modal" data-target="#cancelTutoringModal">튜터링 취소</button>
        <button class="mybutton" type="submit"  data-toggle="modal" data-target="#finishTutoringModal">튜터링 완료</button>
        </td>
      </tr>


      <div class="modal fade" id="cancelTutoringModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">튜터링 취소</h4>
            </div>
            <div class="modal-body">
              <p>정말로 진행중인 튜터링을 취소하시겠습니까?</p>
              <div class="row" style="float: right;">
                  <div class="col-12-xs text-center" style="margin-right: 1em;">
                      <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                      <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:cancel_tutoring" ongoing_tutoring.pk %}'">Yes</button>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="modal fade" id="finishTutoringModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">튜터링 완료</h4>
            </div>
            <div class="modal-body">
              <p>튜터링을 완료하시겠습니까?</p>
              <div class="row" style="float: right;">
                  <div class="col-12-xs text-center" style="margin-right: 1em;">
                      <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                      <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:fin_tutoring" ongoing_tutoring.pk %}'">Yes</button>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endif %}


      {% if report_exist %}
      <tr>
        <th class="align-middle text-center text-nowrap">작성하지 않은 보고서</th>
        <td class="align-middle text-center text-nowrap">튜티 : {{ unwritten_report.user.profile.nickname }}</td>
        <td class="align-middle" location.href= "{% url 'matching:post_detail' unwritten_report.pk %}">제목 : <a href="{% url 'matching:post_detail' unwritten_report.pk %}">{{ unwritten_report.title }}</a></td>
        <td class="align-middle text-center">
        <button class="mybutton" type="button"  data-toggle="modal" data-target="#reportModal" style="float:left">보고서 쓰기</button>
        </td>
      </tr>

      <!-- Report Modal -->
      <div id="reportModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <form action="{% url 'matching:tutee_report' report_post_pk %}" method="POST">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">보고서쓰기</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <p>튜터링 시간 : {{report_form.duration_time}} 분</p>
              {% if report_form.join_tutee %}
              <p>튜터링에 참여한 튜티 정보를 입력해주세요.</p>
              {{report_form.join_tutee}}
              <br>
              {% endif %}
              <p>튜터링 내용 등을 간단히 적어주세요 <br />(튜터링 보고서는 운영자 및 담당교수만 확인가능)</p>
              {{report_form.content}}
            </div>
            <div class="modal-footer">
              <!-- <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button> -->
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
          </form>

        </div>
      </div>
      <!-- Report Modal End -->
      {% endif %}

      {% if session_report_exist %}
      <tr>
        <th class="align-middle text-center text-nowrap">작성하지 않은 TA세션 보고서</th>
        <td class="align-middle text-center text-nowrap">튜티 : {{ unwritten_session_report.user.profile.nickname }}</td>
        <td class="align-middle" location.href= "{% url 'matching:session_detail' unwritten_session_report.pk %}">제목 : <a href="{% url 'matching:session_detail' unwritten_session_report.pk %}">{{ unwritten_session_report.title }}</a></td>
        <td class="align-middle text-center">
          <form action="{% url 'matching:session_report_create' unwritten_session_report.pk %}" method="POST">
            {% csrf_token %}
          <button class="mybutton" type="submit">보고서쓰기</button>
          </form>
        </td>
      </tr>
      {% endif %}

    </tbody>
  </div>
  </table>
  <div class="create_room">
    {% if user.profile.is_tutor %}
    {% if post_exist %}
    <button id="makeRoombtn" class="mybutton" type="button"  data-toggle="modal" data-target="#tutorsession">튜터링 방 만들기</button>
    {% else %}
    <button id="makeRoombtn" class="mybutton" type="button"  data-toggle="modal" data-target="#tutortutee">튜터링 방 만들기</button>
    {% endif %}
    {% elif post_exist == False %}
    <button id="makeRoombtn" class="mybutton" type="button"  data-toggle="modal" data-target="#tuteesession">튜터링 방 만들기</button>
    {% else %}
    <button id="makeRoombtn" class="mybutton" type="button"  data-toggle="modal" data-target="#myModal" disabled>튜터링 방 만들기</button>
    {% endif %}
  </div>

<div id="tutortutee" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form action="" method="POST">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">방 새로 만들기</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>TA session을 연다면 튜터, 튜티로서 질문을 할 계획이면 튜티를 눌러주세요. </p>
        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal" data-toggle="modal" href="#tutorsession">튜터</button>
        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" data-dismiss="modal" data-toggle="modal" href="#tuteesession" >튜티</button>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    </form>

  </div>
</div>

<div id="tutorsession" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form action="" method="POST">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">TA 세션 열기</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>채팅방의 주제를 파악할 수 있는 제목을 작성해주세요. (15자 이상)</p>
        {% csrf_token %}
        {{ tsform.as_p }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    </form>

  </div>
</div>

  <!-- Modal -->
<div id="tuteesession" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form action="" method="POST">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">방 새로 만들기</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>채팅방의 주제를 파악할 수 있는 제목을 작성해주세요. (15자 이상)</p>
        {% csrf_token %}
        {{ form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    </form>

  </div>
</div>
</div>


<div id="mainpage_table_div" class="tableDiv">
  <a href="?filter=all" class="badge badge-light">all</a>
  <a href="?filter=session" class="badge badge-light">TA 세션</a>
  <a href="?filter=tutoring" class="badge badge-light">튜터링</a>

    <div id="search" class="col-md-4 col-md-offset-3">
        <form action="" class="search-form" method="get">
            <div class="form-group has-feedback">
        		<label for="search" class="sr-only">Search</label>
        		<input id="search_label" type="text" class="form-control" name="search_word" id="search" placeholder="search">
          		<span id="search_icon" class="fas fa-search form-control-feedback" ></span>
        	</div>
        </form>
    </div>


    <table id="mainpage_table" class="table">
        <thead>
        <tr>
          <th scope="col" style="width:100px" class="text-center">No.</th>
          <th scope="col" style="width:100px" class="text-center">Status</th>
          <th scope="col" class="text-center">제목</th>
          <th scope="col" style="width:150px" class="text-center">작성자</th>
          <th scope="col" style="width:150px" class="text-center">작성일</th>
          <th scope="col" style="width:150px" class="text-center">조회수</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="text-center text-nowrap align-middle"> {{post.pk}} </td>
                {% if post.session_type %}
                  {% if today < post.start_time %}
                  <td class="text-center text-nowrap align-middle" style="color:#0c6b27"> 진행 예정 </td>
                  {% elif post.fin_time is NULL %}
                  <td class="text-center text-nowrap align-middle" style="color:#2112bf"> 진행중 </td>
                  {% else %}
                  <td class="text-center text-nowrap align-middle" style="color:#bbb"> 종료 </td>
                  {% endif %}
                  {% if user.profile.is_tutor %}
                      <td class="align-middle" style="padding-left:4vw;">
                        <div class="ta">TA</div> <div style="display:inline-block; color:#707B7C; margin: 0 10px 0 0;">{{post.start_time|date:'H:i'}}-{{post.expected_fin_time|date:'H:i'}}</div>
                        <a href="{% url 'matching:session_detail' post.pk %}">{{post.title|truncatechars:50}}</a></td>
                  {% else %}
                      <td class="align-middle" style="padding-left:4vw;">
                        <div class="ta">TA</div> <div style="display:inline-block; color:#707B7C; margin: 0 10px 0 0;">{{post.start_time|date:'H:i'}}-{{post.expected_fin_time|date:'H:i'}}</div>
                        <a href="{% url 'matching:waitingroom' post.pk %}">{{post.title|truncatechars:50}}</a></td>
                  {% endif %}
                {% else %}
                  {% if post.finding_match ==  True %}
                  <td class="text-center text-nowrap align-middle" style="color:#0c6b27"> 모집중 </td>
                  {% elif post.start_time != Null and post.fin_time == Null %}
                  <td class="text-center text-nowrap align-middle" style="color:#2112bf"> 진행중 </td>
                  {% else %}
                  <td class="text-center text-nowrap align-middle" style="color:#bbb"> 종료 </td>
                  {% endif %}
                  <td class="align-middle" style="padding-left:4vw;"><a href="{% url 'matching:post_detail' post.pk %}">{{post.title|truncatechars:50}}</a></td>
                {% endif %}
                <td class="text-center text-nowrap align-middle">
                  {% if post.user %}
                  {{post.user.profile.nickname}}
                  {% else %}
                  {{post.tutor.profile.nickname}}
                  {% endif %}
                </td>
                {% if post.pub_date|date:'Y-m-d' == today|date:'Y-m-d' %}
                <td class="text-center text-nowrap align-middle">{{post.pub_date|date:'H:i'}}</td>
                {% else %}
                <td class="text-center text-nowrap align-middle">{{post.pub_date|date:'Y-m-d'}}</td>
                {% endif %}
                <td class="text-center text-nowrap align-middle">{{post.hit}}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if posts.has_other_pages %}
    <nav aria-label="...">
      <ul class="pagination">
        {% if posts.number == 1 %}
          <li class="page-item"><span class="page-link">⇤<span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page=1">⇤</a></li>
        {% endif %}
        {% if posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item"><span class="page-link">&laquo;<span class="sr-only">(current)</span></span></li>
        {% endif %}
        {% for i in paginatorRange %}
          {% if posts.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">&raquo;</a></li>
        {% else %}
        <li class="page-item"><span class="page-link">&raquo;<span class="sr-only">(current)</span></span></li>
        {% endif %}
        {% if posts.number == postPaginator.num_pages %}
          <li class="page-item"><span class="page-link">⇥<span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{postPaginator.num_pages}}">⇥</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>

<script>
  

  let user = {{user.pk}};

  const websocket = new WebSocket('ws://' + window.location.host + '/ws/tutorhome/');

  websocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    console.log(data.id + "\n" + data.title + "\n" + data.finding + "\n" + data.pub_date + "\n" + data.topic + "\n" + data.nickname + "\n" + data.startTime + "\n" + data.endTime + "\n" + data.user + "\n" + data.tutor + "\n" + data.reportExist);

    // Set table structure
    var table = document.getElementById("mainpage_table");
    var row = table.insertRow(1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);

    // post number
    cell1.className = "text-center";
    cell1.innerHTML = data.id;

    // status
    cell2.className = "text-center text-nowrap align-middle";
    if (data.finding == true){
      cell2.style.color = "#0c6b27";
      cell2.innerHTML += "모집중";
    } else if (data.startTime != null && data.endTime == null){
      cell2.style.color = "#2112bf";
      cell2.innerHTML += "진행중";
    } else if (data.reportExist == false && user == data.postUser && data.tutor == true){
      cell2.style.color = "#b1100a";
      cell2.innerHTML += "보고서 미작성";
    } else {
      cell2.style.color = "#bbb";
      cell2.innerHTML += "종료";
    }

    // title
    var findingIcon = document.createElement("SPAN");
    if (data.finding == true){
      findingIcon.id = "finding";
    } else {
      findingIcon.id = "found";
    }
    findingIcon.className = "dot";
    cell3.append(findingIcon);
    cell3.innerHTML += "&nbsp;&nbsp;&nbsp;";
    var postDetail = document.createElement("A");
    postDetail.href=`/matching/post/detail/${data.id}`;
    postDetail.innerHTML = data.title;
    cell3.append(postDetail);

    // writter
    cell4.className = "text-center";
    cell4.innerHTML = data.nickname;

    // time
    cell5.className = "text-center";
    cell5.innerHTML = data.pub_date;

    // views
    cell6.className = "text-center text-nowrap align-middle";
    cell6.innerHTML = data.hit;
  };

  websocket.onclose = function(e){
    console.error('Chat socket closed unexpectedly');
  };

</script>

{% endblock %}
