{% extends "matching/base.html" %}

{% block title %}
<title>My Page</title>
{% endblock %}

{% block content %}

<table class="table">
    <th>
        <a href="{% url 'matching:mypage_post' %}">
        <p>내가 작성한 Post</p>
        </a>
    </th>
    {% if user.profile.is_tutor %}
    <th>
        <a href="{% url 'matching:mypage_report' %}">
        <p>내가 작성한 Report</p>
        </a>
    </th>
    <th>
        <a href="{% url 'matching:mypage_incomplete' %}">
        <p>작성해야 하는 Report</p>
        </a>
    </th>
    {% endif %}
</table>

{% block table %}
{% endblock %}


{% endblock %}
