{% extends "matching/base.html" %}

{% block content %}

<div class="tableDiv mypage_table">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'matching:mypage_post' %}">모집한 QnA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'matching:mypage_tutee_session' %}">참여한 튜터 세션</a>
  </li>
    {% if user.profile.is_tutor == True %}
    <li class="nav-item">
      <a class="nav-link active">진행한 QnA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'matching:mypage_tutor_session' %}">진행한 튜터 세션</a>
    </li>
    {% endif %}
  </ul>
    <table id="post_table" class="table">
        <thead>
        <tr>
          <th scope="col" style="width:100px" class="text-center">No.</th>
          <!--<th scope="col" class="text-center">주제</th>-->
          <th scope="col" class="text-center">방 이름</th>
          <th scope="col" style="width:150px" class="text-center">작성자</th>
          <th scope="col" style="width:150px" class="text-center">작성일</th>
        </tr>
        </thead>
        <tbody>
        {% if posts %}
        {% for post in posts %}
          <tr>
              <td class="text-center text-nowrap align-middle"> {{post.pk}} </td>
              <!--<td scope="row" class="text-center">{{post.get_topic_display}}</td>-->
              {% if post.finding_match ==  True %}
              <td class="align-middle"> <span id="finding" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title|truncatechars:50}}</a></td>
              {% elif post.start_time != Null and post.fin_time == Null %}
              <td class="align-middle"> <span id="ongoing" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title|truncatechars:50}}</a></td>
              {% else %}
              <td class="align-middle"> <span id="found" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title|truncatechars:50}}</a></td>
              {% endif %}
              <td class="text-center text-nowrap align-middle">{{post.user.profile.nickname}}</td>
              {% if post.pub_date|date:'Y-m-d' == today|date:'Y-m-d' %}
              <td class="text-center text-nowrap align-middle">{{post.pub_date|date:'H:i'}}</td>
              {% else %}
              <td class="text-center text-nowrap align-middle">{{post.pub_date|date:'Y-m-d'}}</td>
              {% endif %}

          </tr>
        {% endfor %}
        {% else %}
          <tr>
              <td class="text-center" colspan="4"> 진행한 QnA가 없음 </td>
          </tr>
        {% endif %}
        </tbody>
    </table>

    {% if posts %}
    {% if posts.has_other_pages %}
    <nav aria-label="...">
      <ul class="pagination">
        {% if posts.number == 1 %}
          <li class="page-item"><span class="page-link">⇤<span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page=1">⇤</a></li>
        {% endif %}
        {% if posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item"><span class="page-link">&laquo;<span class="sr-only">(current)</span></span></li>
        {% endif %}
        {% for i in paginatorRange %}
          {% if posts.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">&raquo;</a></li>
        {% else %}
        <li class="page-item"><span class="page-link">&raquo;<span class="sr-only">(current)</span></span></li>
        {% endif %}
        {% if posts.number == postPaginator.num_pages %}
          <li class="page-item"><span class="page-link">⇥<span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{postPaginator.num_pages}}">⇥</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    {% endif %}
</div>

{% endblock %}
