{% extends "matching/base.html" %}

{% block content %}

<div class="tableDiv mypage_table">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matching:mypage_post' %}">모집한 튜터링</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">참여한 튜터 세션</a>
        </li>
        {% if user.profile.is_tutor == True %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matching:mypage_tutor_post' %}">진행한 튜터링</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matching:mypage_tutor_session' %}">진행한 튜터 세션</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'matching:mypage_profile' user.pk %}">닉네임 수정</a>
        </li>
        {% endif %}
    </ul>
    <br>
    <div class='edit_profile'>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <p class="success_report success_edit">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST">{% csrf_token %}
          닉네임 : {{ form.nickname }} <button class='edit'>수정</button>
        </form>
    </div>
</div>

{% endblock %}
