{% extends "matching/mypage.html" %}

{% block table %}

{% if reports %}
            <div id="tableDiv">
            <h3>내가 작성한 Report</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">번호</th>
                            <th scope="col" class="text-center">주제</th>
                            <th scope="col" class="text-center">제목</th>
                            <th scope="col" class="text-center">닉네임</th>
                            <th scope="col" class="text-center">시간</th>
                            <th scope="col" class="text-center">보고서</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for report in reports %}
                        <tr>
                            <td class="text-center"> {{forloop.counter|add:reports.start_index|add:"-1"}} </td>
                            <td scope="row" class="text-center">{{report.post.get_topic_display}}</td>
                            {% if report.post.finding_match ==  True %}
                            <td> <span id="finding" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' report.post.pk %}">{{report.post.title}}</a></td>
                            {% else %}
                            <td> <span id="found" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' report.post.pk %}">{{report.post.title}}</a></td>
                            {% endif %}
                            <td class="text-center">{{report.post.user.profile.nickname}}</td>
                            <td class="text-center">{{report.post.pub_date|date:'Y-m-d'}}</td>
                            <td class="text-center">
                              <a href="{% url 'matching:report_detail' report.pk %}">
                              <p>보고서</p>
                              </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if reports.has_other_pages %}
                  <ul class="pagination">
                    {% if reports.number == 1 %}
                      <li class="disabled"><span>⇤</span></li>
                    {% else %}
                      <li><a class="page-link" href="?page=1">⇤</a></li>
                    {% endif %}
                    {% if reports.has_previous %}
                      <li><a class="page-link" href="?page={{ reports.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginatorRange %}
                      {% if reports.number == i %}
                        <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if reports.has_next %}
                    <li><a class="page-link" href="?page={{reports.next_page_number}}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                    {% if reports.number == reportPaginator.num_pages %}
                      <li class="disabled"><span>⇥</span></li>
                    {% else %}
                      <li><a class="page-link" href="?page={{reportPaginator.num_pages}}">⇥</a></li>
                    {% endif %}
                  </ul>
                {% endif %}
            </div>
            {% else %}
            <p>작성한 report가 없음</p>
            {% endif %}

{% endblock %}
