{% extends "matching/base.html" %}

{% block content %}

{% if not user.profile.is_tutor %}
<a style="margin-top: 50px; margin-right:100px; float:right;">
<button class="mybutton" type="button"  data-toggle="modal" data-target="#applyTutor">튜터 신청하기</button>
</a>
<div id="applyTutor" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form class="form-style-7 session_report_create" id="session_create" action="" method="POST">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">튜터 신청하기</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <p>튜터 신청 이유를 간단하게 적어주세요.</p>
        <li>
          {{form.as_p}}
       </li>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    </form>

  </div>
</div>
{% endif %}

<div class="tableDiv mypage_table">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">모집한 튜터링</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'matching:mypage_tutee_session' %}">참여한 튜터 세션</a>
  </li>
    {% if user.profile.is_tutor == True %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'matching:mypage_tutor_post' %}">진행한 튜터링</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'matching:mypage_tutor_session' %}">진행한 튜터 세션</a>
    </li>
    {% endif %}
  </ul>
    <table id="post_table" class="table">
        <thead>
        <tr>
          <th scope="col" style="width:100px" class="text-center">No.</th>
          <!--<th scope="col" class="text-center">주제</th>-->
          <th scope="col" class="text-center">제목</th>
          <th scope="col" style="width:150px" class="text-center">작성자</th>
          <th scope="col" style="width:150px" class="text-center">작성일</th>
        </tr>
        </thead>
        <tbody>
        {% if posts %}
        {% for post in posts %}
          <tr>
              <td class="text-center text-nowrap align-middle"> {{post.pk}} </td>
              <!--<td scope="row" class="text-center">{{post.get_topic_display}}</td>-->
              {% if post.finding_match ==  True %}
              <td class="align-middle"> <span id="finding" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title|truncatechars:50}}</a></td>
              {% elif post.start_time != Null and post.fin_time == Null %}
              <td class="align-middle"> <span id="ongoing" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title|truncatechars:50}}</a></td>
              {% else %}
              <td class="align-middle"> <span id="found" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title|truncatechars:50}}</a></td>
              {% endif %}
              <td class="text-center text-nowrap align-middle">{{post.user.profile.nickname}}</td>
              {% if post.pub_date|date:'Y-m-d' == today|date:'Y-m-d' %}
              <td class="text-center text-nowrap align-middle">{{post.pub_date|date:'H:i'}}</td>
              {% else %}
              <td class="text-center text-nowrap align-middle">{{post.pub_date|date:'Y-m-d'}}</td>
              {% endif %}
          </tr>
        {% endfor %}
        {% else %}
          <tr>
              <td class="text-center" colspan="4"> 모집한 튜터링이 없음 </td>
          </tr>
        {% endif %}
        </tbody>
    </table>

    {% if posts %}
    {% if posts.has_other_pages %}
    <nav aria-label="...">
      <ul class="pagination">
        {% if posts.number == 1 %}
          <li class="page-item"><span class="page-link">⇤<span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page=1">⇤</a></li>
        {% endif %}
        {% if posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item"><span class="page-link">&laquo;<span class="sr-only">(current)</span></span></li>
        {% endif %}
        {% for i in paginatorRange %}
          {% if posts.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">&raquo;</a></li>
        {% else %}
        <li class="page-item"><span class="page-link">&raquo;<span class="sr-only">(current)</span></span></li>
        {% endif %}
        {% if posts.number == postPaginator.num_pages %}
          <li class="page-item"><span class="page-link">⇥<span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{postPaginator.num_pages}}">⇥</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    {% endif %}
</div>

{% endblock %}
