{% extends "matching/base.html" %}

{% block title %}
<title>My Page</title>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<table class="table">
    <th>
        <a href="{% url 'matching:mypage_post' %}">
        <p>내가 작성한 Post</p>
        </a>
    </th>
    {% if user.profile.is_tutor %}
    <th>
        <a href="{% url 'matching:mypage_report' %}">
        <p>내가 작성한 Report</p>
        </a>
    </th>
    {% endif %}
</table>

{% block table %}
{% endblock %}


{% endblock %}
