{% extends 'matching/base.html' %}

{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'matching/chat.css' %}">
{% endblock %}

{% block content %}

  <div class="mesgs">
    <div id="msg_history" class="msg_history">

      {% for comment in comment_list %}
      {% if comment.user.pk == user.pk %}
      <div class="outgoing_msg">
        <div class="sent_msg">
          <p>{{ comment.content }}</p>
          <span class="sent_time_date"> {{ comment.pub_date|date:"P"}}    |  {{ comment.pub_date|date:"m.d"}} </span> 
        </div>
      </div>
      {% else %}
      <div class="incoming_msg">
        <!--<div class="incoming_msg_img"> <img src="" alt=""> </div>-->
        <div class="received_msg">
          <div class="received_with_msg">
            <p>{{ comment.content }}</p>
            <span class="received_time_date"> {{ comment.pub_date|date:"P"}}   | {{ comment.pub_date|date:"m.d"}} </span>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <div class="type_msg">
      <div class="input_msg_write">
        <input type="text" id="write_msg" class="write_msg" placeholder="Type a message" />
        <button id="msg_send_btn" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>

  <script>
    console.log(document.getElementById("msg_send_btn"));
    document.getElementById("msg_send_btn").addEventListener("click", sendMessage);

    const websocket = new WebSocket('ws://' + window.location.host + '/ws/post/' + "{{post.pk}}" + '/');
    
    websocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    var req_username = "{{request.user.username}}";
    
    // Set table structure
    var storage = document.getElementById("msg_history");
    console.log(data);
    
    if(data['username']==req_username){
      console.log("outgoing");
      console.log(storage);
      var msg = document.createElement("div");
      msg.className = "outgoing_msg";
      var inner_msg = document.createElement("div");
      inner_msg.className = "sent_msg";
      var msg_content = document.createElement("p");
      msg_content.innerHTML += data['content'];
      var msg_time = document.createElement("span");
      msg_time.className = "sent_time_date";
      msg_time.innerHTML += data['date'];
      inner_msg.append(msg_content);
      inner_msg.append(msg_time);
      msg.append(inner_msg);
      storage.append(msg);
    }else{
      console.log("incoming");
      var msg = document.createElement("div");
      msg.className = "incoming_msg";
      var inner_msg = document.createElement("div");
      inner_msg.className = "received_msg";
      var inner_inner_msg = document.createElement("div");
      inner_inner_msg.className = "received_with_msg";
      var msg_content = document.createElement("p");
      msg_content.innerHTML += data['content'];
      var msg_time = document.createElement("span");
      msg_time.className = "received_time_date";
      msg_time.innerHTML += data['date'];
      inner_inner_msg.append(msg_content);
      inner_inner_msg.append(msg_time);
      inner_msg.append(inner_inner_msg);
      msg.append(inner_msg);
      storage.append(msg);
    }

    /*
    console.log(table);
    
    var row = table.insertRow(1);
    console.log(row);
    /*
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    
    // post number
    cell1.className = "text-center";
    cell1.innerHTML = data.id;
    
    // title
    var findingIcon = document.createElement("SPAN");
    if (data.finding == true){
    findingIcon.id = "finding";
    } else {
    findingIcon.id = "found";
    }
    findingIcon.className = "dot";
    cell2.append(findingIcon);
    cell2.innerHTML += "&nbsp;&nbsp;&nbsp;";
    var postDetail = document.createElement("A");
    postDetail.href=`/matching/post/detail/${data.id}`;
    postDetail.innerHTML = data.title;
    cell2.append(postDetail);
    
    // nickname
    cell3.className = "text-center";
    cell3.innerHTML = data.nickname;
    
    // time
    cell4.className = "text-center";
    cell4.innerHTML = data.pub_date.substring(1, 11);
    */
    };
    
    websocket.onclose = function(e){
    console.error('Chat socket closed unexpectedly');
    };

    function sendMessage(){
      console.log("send message");
      event.preventDefault();

      $.ajax({
         url: "{% url 'matching:send_message' %}",
         type: "GET",
         data:{
           postid: {{post.id}},
           content: $("#write_msg").val(),
         },
         success: function(response){
           //console.log(data)
            //alert("SUCCESS\n" + response);
            
            websocket.send(JSON.stringify({
               'postId': response,
            }));
            $("#classCreateName").value = "";
         },
         error: function(response){
            //alert("ERROR!!\n" + response);
         }
      });

    }
    
    </script>

{% endblock %}
