{% extends 'matching/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'matching/chat.css' %}">
{% endblock %}


{% block content %}
<script>
  let cur_date ;
  const date_line = (cur) => {
    if(date_line.date === undefined){
    date_line.date=cur;
    document.write("_____________ " + date_line.date + " _____________"  ) ;
    }
    else if(date_line.date !== cur_date){
    date_line.date = cur;
    document.write("_____________ " + date_line.date + " _____________"  ) ;
    }
  }
</script>

<div id="buttonDiv">
  <table class="table">
    <tbody>
      {% if post.tutor %}
      <tr>
        <td class="text-center text-nowrap align-middle"><b>튜터</b></td>
        <td class="text-center text-nowrap align-middle">{{ post.tutor.profile.nickname }}</td>
      </tr>
      {% endif %}
      <tr>
        <td class="text-center text-nowrap align-middle"><b>상태</b></td>
        <td class="text-center text-nowrap align-middle">
      {% if post.finding_match ==  True %}
      <p style="color:#0c6b27; margin:4px; margin-bottom:10px;"><b> 모집중 </b></p>
      {% elif post.start_time != Null and post.fin_time == Null %}
      <p style="color:#4858b7; margin:4px; margin-bottom:10px;"><b> 진행중 </b></p>
      {% elif user == post.tutor and not my_report %}
      <p style="color:#e43331; margin:4px; margin-bottom:10px;"><b> 보고서 미작성 </b></p>
      {% else %}
      <p style="color:#bbb; margin:4px; margin-bottom:10px;"><b> 종료 </b></p>
      {% endif %}
      </td>
      </tr>
    </tbody>
</table>

    {% if user == post.user and post.finding_match == True %}
    <button class="mybutton" type="submit"  data-toggle="modal" data-target="#postDeleteModal">모집취소</button>

    <div class="modal fade" id="postDeleteModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">튜터링 모집 취소</h4>
          </div>
          <div class="modal-body">
            <p>정말로 튜터링 모집을 취소하시겠습니까?</p>
            <div class="row" style="float: right;">
                <div class="col-12-xs text-center" style="margin-right: 1em;">
                    <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                    <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:close_post" post.pk %}'">Yes</button>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endif %}
    {% if user == post.user or user == post.tutor %}
    {% if report_exist %}
    <button class="mybutton" type="button"  data-toggle="modal" data-target="#reportModal" style="float:left">보고서 쓰기</button>
    {% endif %}
    {% endif %}

    {% if user.is_staff and post.fin_time %}
    <button class="mybutton" type="submit" onclick="location.href='{% url "matching:post_report_list" post.pk  %}'">보고서 목록</button>
    {% endif %}

    {% if post.tutor is null and user.profile.is_tutor and post.finding_match %}
    <button class="mybutton" type="submit" onclick="location.href='{% url "matching:set_tutor" postpk=post.pk userpk=user.pk  %}'">튜터링 시작</button>
    {% endif %}
    {% if post.start_time and not post.fin_time and user == post.tutor %}
    <button class="mybutton" type="submit"  data-toggle="modal" data-target="#cancelTutoringModal">튜터링 취소</button>
    <button class="mybutton" type="submit"  data-toggle="modal" data-target="#finishTutoringModal">튜터링 완료</button>

    <div class="modal fade" id="cancelTutoringModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">튜터링 취소</h4>
          </div>
          <div class="modal-body">
            <p>정말로 진행중인 튜터링을 취소하시겠습니까?</p>
            <div class="row" style="float: right;">
                <div class="col-12-xs text-center" style="margin-right: 1em;">
                    <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                    <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:cancel_tutoring" post.pk %}'">Yes</button>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="finishTutoringModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">튜터링 완료</h4>
          </div>
          <div class="modal-body">
            <p>튜터링을 완료하시겠습니까?</p>
            <div class="row" style="float: right;">
                <div class="col-12-xs text-center" style="margin-right: 1em;">
                    <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                    <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:fin_tutoring" post.pk %}'">Yes</button>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

    {% if my_report or user.is_staff %}
    {% if my_report_pk %}
    <button class="mybutton" type="submit" onclick="location.href='{% url "matching:report_detail" my_report_pk %}'">보고서 보기</button>
    {% endif %}
    {% endif %}
</div>




<div class="chat">
  <div class="title">
    {{ post.title }}
  </div>

  <div class="mesgs">
    <div id="msg_history" class="msg_history">
      {% for comment in comment_list %}
        {% if comment.content == start_msg %}
        <div class="start_tutoring">
          &nbsp;&nbsp;튜터링 시작&nbsp;&nbsp;
        </div>
        {% elif comment.content == cancel_msg %}
        <div class="cancel_tutoring">
          &nbsp;&nbsp;튜터링 취소&nbsp;&nbsp;
        </div>
        {% elif comment.user != user %}
        <div class="date">
          <script>
            cur_date = "{{comment.pub_date|date:'Y.m.d'}}" ;
            date_line(cur_date) ;
          </script>
        </div>
        <div class="incoming_msg">
          <div class="received_msg">
            <p class="received_name">{{comment.user.profile.nickname}}</p>
            <div id="comment{{ forloop.counter0 }}" class="received_with_msg msg_content" data-pk="{{comment.pk}}" data-username="{{comment.user.profile.nickname}}">
                {% if comment.reply_to and comment.reply_content %}
                    <div class="reply_style">
                        {{ comment.reply_to }} <br>
                        {{ comment.reply_content }}
                    </div>
                    <hr>
                {% endif %}
                {{ comment.content }}
            </div>
            <span class="received_time_date">{{ comment.pub_date|date:"P"}} </span>
          </div>
        </div>
        {% else %}
          <div class="date">
            <script type="text/javascript">
              cur_date = "{{comment.pub_date|date:'Y.m.d'}}" ;
              date_line(cur_date) ;
            </script>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <span class="sent_time_date"> {{ comment.pub_date|date:"P"}}</span>
              <div id="comment{{ forloop.counter0 }}" class="msg_content msg_box" data-pk="{{comment.pk}}" data-username="{{comment.user.profile.nickname}}">
                  {% if comment.reply_to and comment.reply_content %}
                      <div class="reply_style">
                          {{ comment.reply_to }} <br>
                          {{ comment.reply_content }}
                      </div>
                      <hr>
                  {% endif %}
                  {{ comment.content }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}


    </div>
    <div class="type_msg" id="reply_show_box">
    </div>
    <div class="type_msg">
      <div class="input_msg_write" id="input_msg_write">
        {% if post.finding_match or user == post.user or user == post.tutor %}
        <input type="text" id="write_msg" class="write_msg" placeholder="Type a message" />
        <button id="msg_send_btn" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        {% else %}
        <input type="text" id="write_msg" class="write_msg" placeholder="해당 방의 튜터가 아닌 사용자는 작성할 수 없습니다." />
        <button id="msg_send_btn" class="msg_send_btn" type="button" disabled><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        {% endif %}
      </div>

    </div>
  </div>
</div>


{% if report_exist %}
      <!-- Report Modal -->
      <div id="reportModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <form action="{% url 'matching:tutee_report' report_post_pk %}" method="POST">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">보고서쓰기</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <p>튜터링 시간 : {{report_form.duration_time}} 분</p>
              {% if report_form.join_tutee %}
              <p>튜터링에 참여한 튜티 정보를 입력해주세요.</p>
              {{report_form.join_tutee}}
              <br>
              {% endif %}
              <p>튜터링 내용 등을 간단히 적어주세요 <br />(튜터링 보고서는 운영자 및 담당교수만 확인가능)</p>
              {{report_form.content}}
            </div>
            <div class="modal-footer">
              <!-- <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button> -->
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
          </form>

        </div>
      </div>
      <!-- Report Modal End -->
{% endif %}

<script>

  const makeUrl = function(text){
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
      return '<a class="urls" href="' + url + '">' + url + '</a>';
    })
  }

  window.onload = function(){
    let msgContents = document.querySelectorAll(".msg_content");
    msgContents.forEach(function(msg){
      // alert(`${msg.innerHTML}\nREPLAY MESSAGE EXIST?: ${msg.querySelector(".reply_style") != null}`);
      if (msg.querySelector(".reply_style") != null){
        // alert(`${msg.innerHTML}\nREPLAY MESSAGE EXIST?: ${msg.querySelector(".reply_style") != null}`);
        let replyContent = msg.getElementsByClassName("reply_style");
        let content = $(msg.id).clone().children().remove().end().text();
        replyContent[0].innerHTML = makeUrl(replyContent[0].textContent);
        replyContent[0].innerText += makeUrl(content);
      } else {
        // alert(`${msg.innerHTML}\nREPLAY MESSAGE EXIST?: ${msg.querySelector(".reply_style") != null}`);
        document.getElementById(`${msg.id}`).innerHTML = makeUrl(msg.textContent);
      }
    });
  }

  document.getElementById("msg_send_btn").addEventListener("click", function(event){
    var msg = document.getElementById("write_msg");
    if(msg.value.trim()!=''){
      sendMessage();
    }
  })

  var message = document.getElementById("write_msg");
  message.focus();
  message.addEventListener("keyup", function(event){
    if(event.keyCode == 13){
      event.preventDefault();
        document.getElementById("msg_send_btn").click();
    }
  })

  var storage = document.getElementById("msg_history");
  storage.scrollTop = storage.scrollHeight;

  const websocket = new WebSocket('ws://' + window.location.host + '/ws/post/' + "{{post.pk}}" + '/');

  websocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      var req_username = "{{request.user.username}}";
      let reply_to = data.reply_to;
      let reply_content = data.reply_content;

      if(reply_to != "None" && reply_content != "None"){
          reply_to += '\n';
          reply_content += '\n';
      }
      // Set table structure
      /*var storage = document.getElementById("msg_history");
      alert(storage.scrollHeight);
      storage.scrollTop = storage.scrollHeight;*/
      var at_bottom = false;
      if(storage.scrollTop == storage.scrollHeight - storage.offsetHeight){
        at_bottom = true;
      }
      if(data['type'] == "star_comment"){
        var msg = document.createElement("div");
        msg.className = "start_tutoring";
        msg.innerHTML = "✨&nbsp;&nbsp;튜터링 시작&nbsp;&nbsp;✨";
        storage.append(msg);
      }
      else if(data['username']==req_username){
        var msg = document.createElement("div");
        msg.className = "outgoing_msg";
        var inner_msg = document.createElement("div");
        inner_msg.className = "sent_msg";
        var msg_time = document.createElement("span");
        msg_time.className = "sent_time_date";
        msg_time.innerHTML += data['date'];
        var msg_content = document.createElement("div");
        msg_content.className = "msg_box";
        msg_content.className += " msg_content";
        msg_content.dataset.username = data.nickname;
        msg_content.dataset.pk = data.id;
        if(reply_to != "None" && reply_content != "None"){
            let div = document.createElement("div");
            let p_to = document.createElement("p") ;
            let p_content = document.createElement("span") ;
            div.class = "reply_style" ;
            div.innerHTML = reply_to;
            div.innerHTML += '<br />';
            div.innerHTML += reply_content;
            div.appendChild(document.createElement("hr"));
            msg_content.appendChild(div);
        }
        msg_content.innerHTML += makeUrl(data['content']);
        inner_msg.append(msg_time);
        inner_msg.append(msg_content);
        msg.append(inner_msg);
        storage.append(msg);

      }else{
        var incoming_msg = document.createElement("div");
        incoming_msg.className = "incoming_msg";
        var received_msg = document.createElement("div");
        received_msg.className = "received_msg";
        var received_name = document.createElement("p");
        received_name.className = "received_name";
        received_name.innerHTML += data['nickname'];
        var received_with_msg = document.createElement("div");
        received_with_msg.className = "received_with_msg";
        received_with_msg.className += " msg_content";
        received_with_msg.dataset.username = data.nickname;
        received_with_msg.dataset.pk = data.id;
        if(reply_to != "None" && reply_content != "None"){
            let div = document.createElement("div");
            div.class = "reply_style" ;
            div.innerHTML = reply_to;
            div.innerHTML += '<br />';
            div.innerHTML += reply_content;
            div.appendChild(document.createElement("hr"));
            received_with_msg.appendChild(div);
        }
        received_with_msg.innerHTML += makeUrl(data['content']);
        var received_time_date = document.createElement("span");
        received_time_date.className = "received_time_date";
        received_time_date.innerHTML += data['date'];
        received_msg.append(received_name);
        received_msg.append(received_with_msg);
        received_msg.append(received_time_date);
        incoming_msg.append(received_msg);
        storage.append(incoming_msg);
      }

      if(at_bottom){
        storage.scrollTop = storage.scrollHeight;
      }


      // 밑의 로직과 같지만 이름이 중복이라서 new 붙여줌
      let new_msg_content = document.getElementsByClassName("msg_content");
      let reply_show_box = document.getElementById("reply_show_box");
      let reply_show_box_child_num = reply_show_box.childNodes.length;
      const reply_show_box_child_num_const = reply_show_box.childNodes.length;

      // DOM의 변화를 추적하는 Observer
      let target = document.getElementById("reply_show_box");
      let observer = new MutationObserver(function(mutations) {
          mutations.forEach(function(mutation) {
              reply_show_box_child_num = reply_show_box.childNodes.length;
          });
      });
      let config = { childList: true };
      observer.observe(target, config);
      // observer.disconnect();

      for (let i = 0; i < new_msg_content.length; i++) {
          new_msg_content[i].addEventListener("dblclick", function() {
              if(reply_show_box_child_num == reply_show_box_child_num_const){
                  const pk = new_msg_content[i].dataset.pk; // 나중에 email noti 할거면 이걸로 ajax 써서 하면 될듯
                  const username = new_msg_content[i].dataset.username;
                  const content = new_msg_content[i].lastChild.textContent;

                  let div = document.createElement("div"); // 선택된 comment의 정보를 담고있는 div
                  div.id = "reply_info" ;
                  let to_tag = document.createElement("p"); // who 정보를 담고있는 paragraph
                  let content_tag = document.createElement("p"); // what content 정보를 담고 있는 paragraph
                  let to_text = document.createTextNode(username + "에게 답장");
                  let content_text = document.createTextNode(content);
                  const hr = document.createElement("hr");

                  let cancel_btn = document.createElement("button");
                  cancel_btn.id = "cancel_btn";
                  cancel_btn.class = "cancel_btn";
                  cancel_btn.type = "button" ;
                  cancel_btn.innerText = "X";

                  // 안돼 ㅠㅠㅠ
                  let icon = document.createElement("i");
                  icon.class = "fa fa-times";
                  icon.setAttribute("aria-hidden","true");
                  cancel_btn.appendChild(icon);

                  // 선택된 comment의 정보를 담고있는 div를 만들어보자!
                  to_tag.appendChild(to_text) ;
                  content_tag.appendChild(content_text) ;
                  div.appendChild(hr) ;
                  div.insertBefore(content_tag, div.childNodes[0]) ;
                  div.insertBefore(to_tag, div.childNodes[0]) ;
                  div.insertBefore(cancel_btn, div.childNodes[2]);
                  // 채팅 입력하는 div에 같이 넣어주기
                  reply_show_box.appendChild(div) ;

                  let btn = document.getElementById("cancel_btn");
                  btn.addEventListener("click", function() {
                      reply_show_box.removeChild(reply_show_box.lastChild)
                  });
              }
          });
      }

  };

  websocket.onclose = function(e){
  console.error('Chat socket closed unexpectedly');
  };

  function sendMessage(){
    event.preventDefault();

    let msg_write_box = document.getElementById("input_msg_write");
    let msg_write_box_child_num = msg_write_box.childNodes.length;

    let reply_to = "";
    let reply_content = "";

    reply = document.getElementById("reply_info");

    let data_obj = {
        postid: {{post.id}},
        content: $("#write_msg").val(),
        type: "post"
    } ;

    if(reply){
        let is_first = true ;
        for(let i = 0; i < reply.childNodes.length; i++){
            let child = reply.childNodes[i] ;
            if(child.nodeName == "P"){
                if(is_first){
                    reply_to = child.innerText;
                    is_first = false ;
                }else{
                    reply_content = child.innerText ;
                }
            }
        }
        data_obj["reply_to"] = reply_to;
        data_obj["reply_content"] = reply_content;
    }

    $.ajax({
       url: "{% url 'matching:send_message' %}",
       type: "GET",
       data: data_obj,
       success: function(response){
           let data = {
               'postid': response.id
           };
           if(response.reply_to && response.reply_content){
               data['reply_to'] = response.reply_to;
               data['reply_content'] = response.reply_content;
           }else{
               data['reply_to'] = "None";
               data['reply_content'] = "None";
           }
           console.log(JSON.stringify(data));
          websocket.send(JSON.stringify(data));
          message.value = "";
       },
       error: function(response){
          //alert("ERROR!!\n" + response);
       }
    });

  }

  $( document ).ready(function() {
      let msg_content = document.getElementsByClassName("msg_content");
      let reply_show_box = document.getElementById("reply_show_box");
      let reply_show_box_child_num = reply_show_box.childNodes.length;
      const reply_show_box_child_num_const = reply_show_box.childNodes.length;

      // DOM의 변화를 추적하는 Observer
      let target = document.getElementById("reply_show_box");
      let observer = new MutationObserver(function(mutations) {
          mutations.forEach(function(mutation) {
              reply_show_box_child_num = reply_show_box.childNodes.length;
          });
      });
      let config = { childList: true };
      observer.observe(target, config);
      // observer.disconnect();

      for (let i = 0; i < msg_content.length; i++) {
          msg_content[i].addEventListener("dblclick", function() {
              if(reply_show_box_child_num == reply_show_box_child_num_const){
                  const pk = msg_content[i].dataset.pk; // 나중에 email noti 할거면 이걸로 ajax 써서 하면 될듯
                  const username = msg_content[i].dataset.username;
                  const content = msg_content[i].lastChild.textContent;

                  let div = document.createElement("div"); // 선택된 comment의 정보를 담고있는 div
                  div.id = "reply_info" ;
                  let to_tag = document.createElement("p"); // who 정보를 담고있는 paragraph
                  let content_tag = document.createElement("p"); // what content 정보를 담고 있는 paragraph
                  let to_text = document.createTextNode(username + "에게 답장");
                  let content_text = document.createTextNode(content);
                  const hr = document.createElement("hr");

                  let cancel_btn = document.createElement("button");
                  cancel_btn.id = "cancel_btn";
                  cancel_btn.class = "cancel_btn";
                  cancel_btn.type = "button" ;
                  cancel_btn.innerText = "X";

                  // 안돼 ㅠㅠㅠ
                  let icon = document.createElement("i");
                  icon.class = "fa fa-times";
                  icon.setAttribute("aria-hidden","true");
                  cancel_btn.appendChild(icon);

                  // 선택된 comment의 정보를 담고있는 div를 만들어보자!
                  to_tag.appendChild(to_text) ;
                  content_tag.appendChild(content_text) ;
                  div.appendChild(hr) ;
                  div.insertBefore(content_tag, div.childNodes[0]) ;
                  div.insertBefore(to_tag, div.childNodes[0]) ;
                  div.insertBefore(cancel_btn, div.childNodes[2]);
                  // 채팅 입력하는 div에 같이 넣어주기
                  reply_show_box.appendChild(div) ;

                  let btn = document.getElementById("cancel_btn");
                  btn.addEventListener("click", function() {
                      reply_show_box.removeChild(reply_show_box.lastChild)
                  });
              }
          });
      }

      let send_btn = document.getElementById("msg_send_btn");
      send_btn.addEventListener("click", function() {
          if(reply_show_box_child_num != reply_show_box_child_num_const){
              reply_show_box.removeChild(reply_show_box.lastChild)
          }
      });
  });
</script>
{% endblock %}
