{% extends 'matching/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'matching/chat.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div id="buttonDiv">
  {% if post.tutor %}
  <p style="color:#8f86c4; margin:4px; margin-bottom:10px;"><b>튜터: {{ post.tutor.profile.nickname }}</b></p>
  {% endif %}
    {% if user == post.user and post.finding_match == True %}
    <button class="mybutton" id="tutee_delete_confirm" type="submit">모집 종료</button>
    {% endif %}

    {% if report_exist %}
    <button class="mybutton" type="button"  data-toggle="modal" data-target="#reportModal" style="float:left">보고서 쓰기</button>
    {% endif %}

    {% if post.tutor is null and user != post.user and user.profile.is_tutor and post.finding_match %}
    <button class="mybutton" type="submit" onclick="location.href='{% url "matching:set_tutor" postpk=post.pk userpk=user.pk  %}'">튜터링 시작</button>
    {% endif %}

    {% if post.start_time and not post.fin_time and user.profile.is_tutor %}
    <button class="mybutton" id="tutoring_delete_confirm" type="submit">튜터링 취소</button>
    <button class="mybutton" id="tutoring_complete_confirm" type="submit">튜터링 완료</button>
    {% endif %}

    {% if post.report %}
    <button class="mybutton" type="submit" onclick="location.href='{% url "matching:report_detail" post.report.pk %}'">보고서 보기</button>
    {% endif %}


    <script>
        $(document).on('click', '#tutoring_delete_confirm', function(){
            var result = confirm('튜터링을 취소하시겠습니까?');
            if(result)
            {
                location.replace('{% url 'matching:cancel_tutoring' post.pk %}');
            }
        });

        $(document).on('click', '#tutoring_complete_confirm', function(){
            var result = confirm('튜터링을 완료하시겠습니까?');
            if(result)
            {
                location.replace('{% url "matching:fin_tutoring" post.pk %}');
            }
        });

        $(document).on('click', '#tutee_delete_confirm', function(){
            var result = confirm('모집을 종료하시겠습니까?');
            if(result)
            {
                location.replace('{% url 'matching:close_post' post.pk %}');
            }
        });
    </script>
</div>




<div class="chat">
  <div class="title">
    {{ post.title }}
  </div>

  <div class="mesgs">
    <div id="msg_history" class="msg_history">
      <script>

      </script>
      {% for comment in comment_list %}
        {% if post.finding_match is False and comment.content == start_msg %}
        <div class="start_tutoring">
          ✨&nbsp;&nbsp;튜터링 시작&nbsp;&nbsp;✨
        </div>
        {% elif comment.user != user %}
        <div class="date">
          <script type="text/javascript">
            const cur_date = "{{comment.pub_date|date:'Y.m.d'}}" ;
            date_line(cur_date) ;
          </script>
        </div>
        <div class="incoming_msg">
          <div class="received_msg">
            <p class="received_name">{{comment.user.profile.nickname}}</p>
            <div class="received_with_msg">
              {{ comment.content }}
            </div>
            <span class="received_time_date">{{ comment.pub_date|date:"P"}} </span>
          </div>
        </div>
        {% else %}
          <div class="date">
            <script type="text/javascript">
              const cur_date = "{{comment.pub_date|date:'Y.m.d'}}" ;
              date_line(cur_date) ;
            </script>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <span class="sent_time_date"> {{ comment.pub_date|date:"P"}}</span>
              <div id="msg_box">{{ comment.content }}</div>
            </div>
          </div>
        {% endif %}
      {% endfor %}


    </div>
    <div class="type_msg">
      {% if post.finding_match or user == post.user or user == post.tutor %}
      <div class="input_msg_write">
        <input type="text" id="write_msg" class="write_msg" placeholder="Type a message" />
        <button id="msg_send_btn" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </div>
      {% endif %}
    </div>
  </div>
</div>

  <script>
    let hit = {{ post.update_hit }};

    document.getElementById("msg_send_btn").addEventListener("click", sendMessage);
    var message = document.getElementById("write_msg");
    message.focus();
    message.addEventListener("keyup", function(event){
      if(event.keyCode == 13){
        event.preventDefault();
        if(message.value.trim()!=''){
          document.getElementById("msg_send_btn").click();
        }
      }
    })

    var storage = document.getElementById("msg_history");
    storage.scrollTop = storage.scrollHeight;

    const websocket = new WebSocket('ws://' + window.location.host + '/ws/post/' + "{{post.pk}}" + '/');

    websocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    var req_username = "{{request.user.username}}";

    // Set table structure
    /*var storage = document.getElementById("msg_history");
    alert(storage.scrollHeight);
    storage.scrollTop = storage.scrollHeight;*/
    var at_bottom = false;
    if(storage.scrollTop == storage.scrollHeight - storage.offsetHeight){
      at_bottom = true;
    }

    if(data['username']==req_username){
      //console.log("outgoing");

      var msg = document.createElement("div");
      msg.className = "outgoing_msg";
      var inner_msg = document.createElement("div");
      inner_msg.className = "sent_msg";
      var msg_time = document.createElement("span");
      msg_time.className = "sent_time_date";
      msg_time.innerHTML += data['date'];
      var msg_content = document.createElement("div");
      msg_content.id = "msg_box";
      msg_content.innerHTML += data['content'];
      msg_time.append(msg_content);
      inner_msg.append(msg_time);
      msg.append(inner_msg);
      storage.append(msg);

    }else{
      //console.log("incoming");
      var incoming_msg = document.createElement("div");
      incoming_msg.className = "incoming_msg";
      var received_msg = document.createElement("div");
      received_msg.className = "received_msg";
      var received_name = document.createElement("p");
      received_name.className = "received_name";
      received_name.innerHTML += data['nickname'];
      var received_with_msg = document.createElement("div");
      received_with_msg.className = "received_with_msg";
      received_with_msg.innerHTML += data['content'];
      var received_time_date = document.createElement("span");
      received_time_date.className = "received_time_date";
      received_time_date.innerHTML += data['date'];
      received_msg.append(received_name);
      received_msg.append(received_with_msg);
      received_msg.append(received_time_date);
      incoming_msg.append(received_msg);
      storage.append(incoming_msg);
    }

    if(at_bottom){
      storage.scrollTop = storage.scrollHeight;
    }


    };

    websocket.onclose = function(e){
    console.error('Chat socket closed unexpectedly');
    };

    function sendMessage(){
      event.preventDefault();

      $.ajax({
         url: "{% url 'matching:send_message' %}",
         type: "GET",
         data:{
           postid: {{post.id}},
           content: $("#write_msg").val(),
         },
         success: function(response){
           //console.log(data)
            //alert("SUCCESS\n" + response);

            websocket.send(JSON.stringify({
               'postId': response,
            }));
            message.value = "";
         },
         error: function(response){
            //alert("ERROR!!\n" + response);
         }
      });

    }

    </script>



{% if report_exist %}
    <!-- Report Modal -->
    <div id="reportModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <form action="{% url 'matching:tutee_report' report_post_pk %}" method="POST">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">보고서쓰기</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>튜터링이 어땠는지 말해주세요.</p>
            {% csrf_token %}
            {% for field in report_form %}
              내용: {{field}}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <!-- <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button> -->
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
        </form>

      </div>
    </div>
    <!-- Report Modal End -->
{% endif %}

{% endblock %}
