{% extends "matching/base.html" %}

{% block content %}
<h3 style="margin-left:130px; margin-top:20px;"><b>{{ session.title }}</b>에 대한 보고서들 </h3>

<div class="tableDiv mypage_table">

    <div id="post_table_div" class="tableDiv">
        <table id="post_table" class="table">
            <thead>
            <tr>
              <th scope="col" style="width:50px" class="text-center">번호</th>
              <th scope="col" class="text-center">신분</th>
              <th scope="col" class="text-center">작성자</th>
              <th scope="col" class="text-center">보고서 링크</th>
            </tr>
            </thead>
            <tbody>
            {% for report in report_list %}
              <tr>
                  <td class="text-center text-nowrap align-middle"> {{report.pk}} </td>
                  <td class="text-center text-nowrap align-middle">
                      {% if report.writer == tutor %}
                      튜터
                      {% elif report.writer == tutee %}
                      튜티
                      {% else %}
                      DEBUG
                      {% endif %}
                  </td>
                  <td class="text-center text-nowrap align-middle"> {{report.writer.profile.nickname}} </td>
                  <td class="text-center text-nowrap align-middle"><a href="{% url 'matching:report_detail' report.pk %}">보기</a></td>
                  
              </tr>
            {% endfor %}
            </tbody>
        </table>
  
    </div>
  
  </div>


{% endblock %}
