{% extends "matching/base.html" %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'matching/report.css' %}">
{% endblock %}

{% block content %}
  <div id="reportDetail" class="list-type1">
    <ol>
      <div class="list-box">
        <li><a href="#">제목</a></li>
        {{report.post.title}}
      </div>
      <div class="list-box">
        <li><a href="#">튜티</a></li>
        {{report.post.user.profile.nickname }}
      </div>
      <div class="list-box">
        <li><a href="#">튜터</a></li>
        {{report.post.tutor.profile.nickname }}
      </div>
      <div class="list-box">
        <li><a href="#">시작시간</a></li>
        {{report.post.start_time|date:'Y-m-d'}}
      </div>
      <div class="list-box">
        <li><a href="#">종료시간</a></li>
        {{report.post.fin_time|date:'Y-m-d'}}
      </div>
      {% if report.join_tutee %}
      <div class="list-box">
        <li><a href="#">참여한 튜티</a></li>
        {{report.join_tutee}}
      </div>
      {% endif %}
      <div class="list-box">
        <li><a href="#">보고서</a></li>
        {{report.content}}
      </div>
    </ol>
  </div>


{% endblock %}
