{% extends "matching/base.html" %}

{% block content %}
<form method="POST" class="form-style-7">
    {% csrf_token %}
    <ul>
        <h1>Sign Up</h1>
    <li>
        <label for="name">Nickname</label>
        <input type="text" value={{nickname}} id="nickname" name="nickname" disabled>
    </li>
    <li>
        <label for="email">Phone</label>
        010&nbsp&nbsp-&nbsp&nbsp<input type="text" name="phone1" pattern="[0-9]{4}" maxlength="4" style="width:80px;" required>&nbsp&nbsp-&nbsp&nbsp<input type="text" name="phone2" maxlength="4" style="width:80px;" pattern="[0-9]{4}" required>
    </li>
    <li>
        <input type="submit" value="제출" >
    </li>
    </ul>
</form>

{% endblock %}