{% extends "matching/base.html" %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'matching/report.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p class="success_report">{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
<div id="reportDetail" class="list-type1">
    <ol>
      <div class="session_info">
        <li><a href="#">제목</a></li>
        {{session.title}}
        <li><a href="#">튜터링 날짜</a></li>
        {{session.pub_date|date:'Y-m-d'}}
        <li><a href="#">튜터</a></li>
        {{session.tutor.profile.nickname}}
      </div>
    </ol>
  </div>
{% for report in report_list %}
  <div id="reportDetail" class="list-type1">
    <ol>
        {% if request.user.is_staff %}
        <div class="list-box">
            <li><a href="#">작성자</a></li>
            {{report.writer.profile.nickname}}
        </div>
        {% endif %}
      <div class="list-box">
        <li><a href="#">보고서</a></li>
        {{report.content}}
      </div>
    </ol>
  </div>

{% endfor %}
{% endblock %}

