{% extends 'matching/base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'matching/chat.css' %}">
{% endblock %}


{% block content %}
<script>
  let cur_date ;
  const date_line = (cur) => {
    if(date_line.date === undefined){
    date_line.date=cur;
    document.write("_____________ " + date_line.date + " _____________"  ) ;
    }
    else if(date_line.date !== cur_date){
    date_line.date = cur;
    document.write("_____________ " + date_line.date + " _____________"  ) ;
    }
  }
</script>

<div id="buttonDiv">
  <table class="table">
      <tbody>
        {% if session.tutor %}
        <tr>
          <td class="text-center text-nowrap align-middle"><b>튜터</b></td>
          <td class="text-center text-nowrap align-middle">{{ session.tutor.profile.nickname }}</td>
        </tr>
        {% endif %}
        <tr>
          <td class="text-center text-nowrap align-middle"><b>세션유형</b></td>
          <td class="text-center text-nowrap align-middle">{{session.get_session_type_display}}</td>
        </tr>
        <tr>
          <td class="text-center text-nowrap align-middle"><b>세션 상태</b></td>
          <td class="text-center text-nowrap align-middle">
            {% if today < session.start_time %}
            <p style="color:#0c6b27; margin:4px; margin-bottom:10px;"><b> 진행 예정</b></p>
            {% elif session.fin_time is NULL %}
            <p style="color:#4858b7; margin:4px; margin-bottom:10px;"><b> 진행중 </b></p>
            {% elif user == post.tutor and not my_report %}
            <p style="color:#e43331; margin:4px; margin-bottom:10px;"><b> 보고서 미작성 </b></p>
            {% else %}
            <p style="color:#bbb; margin:4px; margin-bottom:10px;"><b> 종료 </b></p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="text-center text-nowrap align-middle"><b>장소</b></td>
          <td class="text-center text-nowrap align-middle">{{session.location}}</td>
        </tr>
        <tr>
          <td class="text-center text-nowrap align-middle"><b>시작 시간</b></td>
          <td class="text-center text-nowrap align-middle">
            {% if session.start_time|date:'Y-m-d' == today|date:'Y-m-d' %}
            {{session.start_time|date:'H:i'}}
            {% else %}
            {{session.start_time|date:'Y-m-d H:i'}}
            {% endif %}
          </td>
        </tr>
        {% if session.fin_time %}
        <tr>
          <td class="text-center text-nowrap align-middle"><b>종료 시간</b></td>
          <td class="text-center text-nowrap align-middle">
            {% if session.fin_time|date:'Y-m-d' == today|date:'Y-m-d' %}
            {{session.fin_time|date:'H:i'}}
            {% else %}
            {{session.fin_time|date:'Y-m-d H:i'}}
            {% endif %}
          </td>
        </tr>
        {% else %}
        <tr>
          <td class="text-center text-nowrap align-middle"><b>종료 예정 시간</b></td>
          <td class="text-center text-nowrap align-middle">
            {% if session.expected_fin_time|date:'Y-m-d' == today|date:'Y-m-d' %}
            {{session.expected_fin_time|date:'H:i'}}
            {% else %}
            {{session.expected_fin_time|date:'Y-m-d H:i'}}
            {% endif %}
          </td>
        </tr>
        {% endif %}
      </tbody>
  </table>
  {% if session.tutor == user %}
  {% if not session.fin_time %}
  <button class="mybutton" type="submit"  data-toggle="modal" data-target="#endSession">튜터 세션 종료</button>

  <div class="modal fade" id="endSession" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">튜터 세션 종료</h4>
        </div>
        <div class="modal-body">
          <p>정말로 진행중인 튜터세션을 종료하시겠습니까?</p>
          <div class="row" style="float: right;">
              <div class="col-12-xs text-center" style="margin-right: 1em;">
                  <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                  <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:end_session" session.pk %}'">Yes</button>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endif %}

  {% if not session.fin_time %}
  <div class="update_tutee" style="margin:2% 0;">
    <button id="start_new_tutoring" class="mybutton" type="submit">새 튜터링 시작</button>
  </div>
  {% endif %}

  <div style="margin:2% 0;">
    <form action="{% url 'matching:session_report_create' session.pk %}" method="POST">
      {% csrf_token %}
    <button class="mybutton" type="submit">보고서쓰기</button>
    </form>
  </div>

  {% if my_report %}
  <button class="mybutton" type="submit" onclick="location.href='{% url "matching:session_report_list" session.pk%}'">보고서 보기</button>
  {% endif %}

  {% if user.is_staff %}
  <button class="mybutton" type="submit" onclick="location.href='{% url "matching:session_report_list" session.pk  %}'">보고서 목록</button>
  {% endif %}
  {% endif %}

</div>

<div id="lost_connection" class="">
  <p class="alert alert-warning text-center">❗ 서버와의 연결이 끊겼습니다. 페이지를 새로고침 해주세요.❗</p>
</div>

<div class="chat">
  <div class="title">
    {{ session.title }}
  </div>

  <div class="mesgs">
    <div id="msg_history" class="msg_history">
      {% for comment in comment_list %}
        {% if comment.content == start_msg %}
        <div class="start_tutoring">
          ✨&nbsp;&nbsp;튜터링 시작 - {{comment.user.profile.nickname}}&nbsp;&nbsp;✨
        </div>
        {% elif comment.content == fin_msg %}
        <div class="cancel_tutoring">
          &nbsp;&nbsp;튜터링 종료 - {{comment.user.profile.nickname}}&nbsp;&nbsp;
        </div>
        {% elif comment.user != user %}
        <div class="date">
          <script>
            cur_date = "{{comment.pub_date|date:'Y.m.d'}}" ;
            date_line(cur_date) ;
          </script>
        </div>
        <div class="incoming_msg">
          <div class="received_msg">
            <p class="received_name">{{comment.user.profile.nickname}}</p>
            <div id="comment{{ forloop.counter0 }}" class="received_with_msg msg_content" data-pk="{{comment.pk}}" data-username="{{comment.user.profile.nickname}}">
                {% if comment.reply_to and comment.reply_content %}
                    <div class="reply_style">
                        {% if comment.reply_to == user_compare_msg %}
                            나에게 답장
                        {% else %}
                            {{ comment.reply_to }}
                        {% endif %}
                        <br>
                        {{ comment.reply_content }}
                    </div>
                    <hr>
                {% endif %}
                {{ comment.content }}
            </div>
            <span class="received_time_date">{{ comment.pub_date|date:"P"}} </span>
          </div>
        </div>
        {% else %}
          <div class="date">
            <script type="text/javascript">
              cur_date = "{{comment.pub_date|date:'Y.m.d'}}" ;
              date_line(cur_date) ;
            </script>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <span class="sent_time_date"> {{ comment.pub_date|date:"P"}}</span>
              <div id="comment{{ forloop.counter0 }}" class="msg_content msg_box" data-pk="{{comment.pk}}" data-username="{{comment.user.profile.nickname}}">
                  {% if comment.reply_to and comment.reply_content %}
                      <div class="reply_style">
                          {% if comment.reply_to == user_compare_msg %}
                              나에게 답장
                          {% else %}
                              {{ comment.reply_to }}
                          {% endif %}
                          <br>
                          {{ comment.reply_content }}
                      </div>
                      <hr>
                  {% endif %}
                  {{ comment.content }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}


    </div>
    <div class="type_msg" id="reply_show_box">
    </div>
    <div class="type_msg">
      <div class="input_msg_write" id="input_msg_write">
        <input type="text" id="write_msg" class="write_msg" placeholder="Type a message" />
        <button id="msg_send_btn" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </div>

    </div>
  </div>
</div>

<!--
{% if report_exist %}
    <div id="reportModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <form action="{% url 'matching:tutee_report' report_post_pk %}" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">보고서쓰기</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <p>튜터링 시간 : {{report_form.duration_time}} 분</p>
            {% if report_form.join_tutee %}
            <p>튜터링에 참여한 튜티 정보를 입력해주세요.</p>
            {{report_form.join_tutee}}
            <br>
            {% endif %}
            <p>튜터링 내용 등을 간단히 적어주세요 <br />(튜터링 보고서는 운영자 및 담당 교수만 확인할 수 있습니다.)</p>
            {{report_form.content}}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
        </form>

      </div>
    </div>
{% endif %}-->

<script>

  const makeUrl = function(text){
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
      return '<a class="urls" target="_blank" href="' + url + '">' + url + '</a>';
    })
  }

  window.onload = function(){
      let msgContents = document.querySelectorAll(".msg_content");
      msgContents.forEach(function(msg){
        // alert(`${msg.innerHTML}\nREPLAY MESSAGE EXIST?: ${msg.querySelector(".reply_style") != null}`);
        if (msg.querySelector(".reply_style") != null){
          // alert(`${msg.innerHTML}\nREPLAY MESSAGE EXIST?: ${msg.querySelector(".reply_style") != null}`);
          let replyContent = msg.getElementsByClassName("reply_style");
          let content = $(msg.id).clone().children().remove().end().text();
          replyContent[0].innerHTML = makeUrl(replyContent[0].innerHTML);
          replyContent[0].innerText += makeUrl(content);
        } else {
          // alert(`${msg.innerHTML}\nREPLAY MESSAGE EXIST?: ${msg.querySelector(".reply_style") != null}`);
          document.getElementById(`${msg.id}`).innerHTML = makeUrl(msg.textContent);
        }
      });
  }

  document.getElementById("msg_send_btn").addEventListener("click", function(event){
    var msg = document.getElementById("write_msg");
    if(msg.value.trim()!=''){
      sendMessage();
      msg.value = "";
    }
  })

  var message = document.getElementById("write_msg");
  message.focus();
  message.addEventListener("keyup", function(event){
    if(event.keyCode == 13){
      event.preventDefault();
        document.getElementById("msg_send_btn").click();
    }
  })

  var storage = document.getElementById("msg_history");
  storage.scrollTop = storage.scrollHeight;

  const websocket = new WebSocket('ws://' + window.location.host + '/ws/session/' + "{{pk}}" + '/');

  websocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    var req_username = "{{request.user.username}}";
    let current_tutee_pk = "{{request.user.pk}}";

    // Set table structure
    /*var storage = document.getElementById("msg_history");
    alert(storage.scrollHeight);
    storage.scrollTop = storage.scrollHeight;*/
    var at_bottom = false;
    if(storage.scrollTop == storage.scrollHeight - storage.offsetHeight){
      at_bottom = true;
    }
    if (data['type'] == "new_comment"){
      let reply_to = data.reply_to;
      let reply_content = data.reply_content;
      const reply_max_len = 30;


      console.log("On Message");
      console.log(reply_to);
      console.log(reply_content);

      if(reply_to && reply_content){
          if(reply_to != "None" && reply_content != "None"){
              reply_to = reply_to.trim();
              reply_content = reply_content.trim();

              if(reply_to == "{{user_compare_msg}}"){
                  reply_to = "나에게 답장";
              }
          }
      }else{
          reply_to = "None";
          reply_content = "None";
      }

      if(data['username']==req_username){
        var msg = document.createElement("div");
        msg.className = "outgoing_msg";
        var inner_msg = document.createElement("div");
        inner_msg.className = "sent_msg";
        var msg_time = document.createElement("span");
        msg_time.className = "sent_time_date";
        msg_time.innerHTML += data['date'];
        var msg_content = document.createElement("div");
        msg_content.className = "msg_box";
        msg_content.className += " msg_content";
        msg_content.dataset.username = data.nickname;
        msg_content.dataset.pk = data.id;
        if(reply_to != "None" && reply_content != "None"){
            let div = document.createElement("div");
            let p_to = document.createElement("p") ;
            let p_content = document.createElement("span") ;
            div.class = "reply_style" ;
            div.innerHTML = reply_to;
            div.innerHTML += '<br />';
            div.innerHTML += truncateText(reply_content, reply_max_len);
            div.appendChild(document.createElement("hr"));
            msg_content.appendChild(div);
        }
        msg_content.innerHTML += makeUrl(data['content']);
        inner_msg.append(msg_time);
        inner_msg.append(msg_content);
        msg.append(inner_msg);
        storage.append(msg);

      }else{
        var incoming_msg = document.createElement("div");
        incoming_msg.className = "incoming_msg";
        var received_msg = document.createElement("div");
        received_msg.className = "received_msg";
        var received_name = document.createElement("p");
        received_name.className = "received_name";
        received_name.innerHTML += data['nickname'];
        var received_with_msg = document.createElement("div");
        received_with_msg.className = "received_with_msg";
        received_with_msg.className += " msg_content";
        received_with_msg.dataset.username = data.nickname;
        received_with_msg.dataset.pk = data.id;
        if(reply_to != "None" && reply_content != "None"){
            let div = document.createElement("div");
            div.class = "reply_style" ;
            div.innerHTML = reply_to;
            div.innerHTML += '<br />';
            div.innerHTML += truncateText(reply_content, reply_max_len);
            div.appendChild(document.createElement("hr"));
            received_with_msg.appendChild(div);
        }
        received_with_msg.innerHTML += makeUrl(data['content']);
        var received_time_date = document.createElement("span");
        received_time_date.className = "received_time_date";
        received_time_date.innerHTML += data['date'];
        received_msg.append(received_name);
        received_msg.append(received_with_msg);
        received_msg.append(received_time_date);
        incoming_msg.append(received_msg);
        storage.append(incoming_msg);
      }

      // 밑의 로직과 같지만 이름이 중복이라서 new 붙여줌
      let new_msg_content = document.getElementsByClassName("msg_content");
      let reply_show_box = document.getElementById("reply_show_box");
      let reply_show_box_child_num = reply_show_box.childNodes.length;
      const reply_show_box_child_num_const = reply_show_box.childNodes.length;

      // DOM의 변화를 추적하는 Observer
      let target = document.getElementById("reply_show_box");
      let observer = new MutationObserver(function(mutations) {
          mutations.forEach(function(mutation) {
              reply_show_box_child_num = reply_show_box.childNodes.length;
          });
      });
      let config = { childList: true };
      observer.observe(target, config);
      // observer.disconnect();

      for (let i = 0; i < new_msg_content.length; i++) {
          new_msg_content[i].addEventListener("dblclick", function() {
              if(reply_show_box_child_num == reply_show_box_child_num_const){
                  const pk = new_msg_content[i].dataset.pk; // 나중에 email noti 할거면 이걸로 ajax 써서 하면 될듯
                  const username = new_msg_content[i].dataset.username;
                  const content = truncateText(new_msg_content[i].lastChild.textContent.trim(), reply_max_len);

                  let div = document.createElement("div"); // 선택된 comment의 정보를 담고있는 div
                  div.id = "reply_info" ;
                  let to_tag = document.createElement("p"); // who 정보를 담고있는 paragraph
                  let content_tag = document.createElement("p"); // what content 정보를 담고 있는 paragraph
                  let to_text = document.createTextNode(username + "에게 답장");
                  let content_text = document.createTextNode(content);
                  const hr = document.createElement("hr");

                  let cancel_btn = document.createElement("button");
                  cancel_btn.id = "cancel_btn";
                  cancel_btn.class = "cancel_btn";
                  cancel_btn.type = "button" ;
                  cancel_btn.innerText = "X";

                  // 안돼 ㅠㅠㅠ
                  let icon = document.createElement("i");
                  icon.class = "fa fa-times";
                  icon.setAttribute("aria-hidden","true");
                  cancel_btn.appendChild(icon);

                  // 선택된 comment의 정보를 담고있는 div를 만들어보자!
                  to_tag.appendChild(to_text) ;
                  content_tag.appendChild(content_text) ;
                  div.appendChild(hr) ;
                  div.insertBefore(content_tag, div.childNodes[0]) ;
                  div.insertBefore(to_tag, div.childNodes[0]) ;
                  div.insertBefore(cancel_btn, div.childNodes[2]);
                  // 채팅 입력하는 div에 같이 넣어주기
                  reply_show_box.appendChild(div) ;

                  let btn = document.getElementById("cancel_btn");
                  btn.addEventListener("click", function() {
                      reply_show_box.removeChild(reply_show_box.lastChild)
                  });
              }
          });
      }

    } else if (data['type'] == "letout_current_tutee"){
      var msg = document.createElement("div");
      msg.className = "cancel_tutoring";
      msg.innerHTML = `&nbsp;&nbsp;튜터링 종료 - ${data['current_tutee_nickname']}&nbsp;&nbsp;`;
      storage.append(msg);
      if (current_tutee_pk == data['current_tutee_pk']){
        // alert("Redirecting to mainpage");
        document.location.href = data['current_tutee_url'], true;
      }
    } else if (data['type'] == "get_next_tutee"){
      var msg = document.createElement("div");
      msg.className = "start_tutoring";
      msg.innerHTML = `✨&nbsp;&nbsp;튜터링 시작 - ${data['next_tutee_nickname']}&nbsp;&nbsp;✨`;
      storage.append(msg);
    }

    if(at_bottom){
      storage.scrollTop = storage.scrollHeight;
    }

  };

  websocket.onclose = function(e){
    console.error('Chat socket closed unexpectedly');
    document.getElementById('lost_connection').style.visibility = "visible";
  };

  function sendMessage(){
    event.preventDefault();

    let msg_write_box = document.getElementById("input_msg_write");
    let msg_write_box_child_num = msg_write_box.childNodes.length;

    let reply_to = "";
    let reply_content = "";

    reply = document.getElementById("reply_info");

    let data_obj = {
        postid: {{pk}}, // session_detail pk
        content: $("#write_msg").val(),
        type: "session"
    } ;


    if(reply){
        let is_first = true ;
        for(let i = 0; i < reply.childNodes.length; i++){
            let child = reply.childNodes[i] ;
            if(child.nodeName == "P"){
                if(is_first){
                    reply_to = child.innerText;
                    is_first = false ;
                }else{
                    reply_content = child.innerText ;
                }
            }
        }
        data_obj["reply_to"] = reply_to;
        data_obj["reply_content"] = reply_content;
    }

    console.log("SEND MESSAGE");
    console.log(reply_to);
    console.log(reply_content);


    $.ajax({
       url: "{% url 'matching:send_message' %}",
       type: "GET",
       data:data_obj,
       success: function(response){
          let data = {
              'type':'new_comment',
              'comment_id': response.id,
          };
          if(response.reply_to && response.reply_content){
              data['reply_to'] = response.reply_to;
              data['reply_content'] = response.reply_content;
          }else{
              data['reply_to'] = "None";
              data['reply_content'] = "None";
          }
          console.log("BEFORE Consumer");
          console.log(response.reply_to);
          console.log(response.reply_content);
          websocket.send(JSON.stringify(data));
       },
       error: function(response){
          //alert("ERROR!!\n" + response);
       }
    });
  }

  {% if user.profile.is_tutor %}
  document.getElementById("start_new_tutoring").onclick = function(){
    $.ajax({
            type: "POST",
            url: "{% url 'matching:start_new_tutoring' session.pk %}",
            data: {
              'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
            success: function(response){
              // alert(response.current_tutee_pk);
              // alert(response.next_tutee_pk);

              if (response.current_tutee_pk != undefined ){
                // alert("letout_current_tutee");
                websocket.send(JSON.stringify({
                  'type': 'start_new_tutoring',
                  'type2': 'letout_current_tutee',
                  'current_tutee_pk' : response.current_tutee_pk,
                  'current_tutee_url' : response.current_tutee_url,
                }))
              }

              if (response.next_tutee_pk != undefined){
                // alert("get_next_tutee");
                websocket.send(JSON.stringify({
                  'type': 'start_new_tutoring',
                  'type2': 'get_next_tutee',
                  'next_tutee_pk': response.next_tutee_pk,
                  'next_tutee_url': response.next_tutee_url,
                }));
              }

            },
            error: function(request, status, error){
                alert("로그인이 필요합니다.");
                window.location.replace("/accounts/login/");
            },
        });
  }
  {% endif %}

  function truncateText(truncated, maxLength) {
    if (truncated.length > maxLength) {
        truncated = truncated.substr(0,maxLength) + '...';
    }
    return truncated;
  }

  $( document ).ready(function() {
      let msg_content = document.getElementsByClassName("msg_content");
      let reply_show_box = document.getElementById("reply_show_box");
      let reply_show_box_child_num = reply_show_box.childNodes.length;
      const reply_show_box_child_num_const = reply_show_box.childNodes.length;
      const reply_max_len = 30;

      // DOM의 변화를 추적하는 Observer
      let target = document.getElementById("reply_show_box");
      let observer = new MutationObserver(function(mutations) {
          mutations.forEach(function(mutation) {
              reply_show_box_child_num = reply_show_box.childNodes.length;
          });
      });
      let config = { childList: true };
      observer.observe(target, config);
      // observer.disconnect();

      for (let i = 0; i < msg_content.length; i++) {
          for(let j = 0; j < msg_content[i].childNodes.length; j++){
              if(msg_content[i].childNodes[j].className == "reply_style"){
                  msg_content[i].childNodes[j].innerText = truncateText(msg_content[i].childNodes[j].innerText, reply_max_len);
              }
          }
      }

      for (let i = 0; i < msg_content.length; i++) {
          msg_content[i].addEventListener("dblclick", function() {
              if(reply_show_box_child_num == reply_show_box_child_num_const){
                  const pk = msg_content[i].dataset.pk; // 나중에 email noti 할거면 이걸로 ajax 써서 하면 될듯
                  const username = msg_content[i].dataset.username;
                  const content = truncateText(msg_content[i].lastChild.textContent.trim(), reply_max_len);

                  let div = document.createElement("div"); // 선택된 comment의 정보를 담고있는 div
                  div.id = "reply_info" ;
                  let to_tag = document.createElement("p"); // who 정보를 담고있는 paragraph
                  let content_tag = document.createElement("p"); // what content 정보를 담고 있는 paragraph
                  let to_text = document.createTextNode(username + "에게 답장");
                  let content_text = document.createTextNode(content);
                  const hr = document.createElement("hr");

                  let cancel_btn = document.createElement("button");
                  cancel_btn.id = "cancel_btn";
                  cancel_btn.class = "cancel_btn";
                  cancel_btn.type = "button" ;
                  cancel_btn.innerText = "X";

                  // 안돼 ㅠㅠㅠ
                  let icon = document.createElement("i");
                  icon.class = "fa fa-times";
                  icon.setAttribute("aria-hidden","true");
                  cancel_btn.appendChild(icon);

                  // 선택된 comment의 정보를 담고있는 div를 만들어보자!
                  to_tag.appendChild(to_text) ;
                  content_tag.appendChild(content_text) ;
                  div.appendChild(hr) ;
                  div.insertBefore(content_tag, div.childNodes[0]) ;
                  div.insertBefore(to_tag, div.childNodes[0]) ;
                  div.insertBefore(cancel_btn, div.childNodes[2]);
                  // 채팅 입력하는 div에 같이 넣어주기
                  reply_show_box.appendChild(div) ;

                  let btn = document.getElementById("cancel_btn");
                  btn.addEventListener("click", function() {
                      reply_show_box.removeChild(reply_show_box.lastChild)
                  });
              }
          });
      }

      let send_btn = document.getElementById("msg_send_btn");
      send_btn.addEventListener("click", function() {
          if(reply_show_box_child_num != reply_show_box_child_num_const){
              reply_show_box.removeChild(reply_show_box.lastChild)
          }
      });
  });
</script>

{% endblock %}
