{% extends "matching/base.html" %}

{% block title %}
<title>Tutor Report</title>
{% endblock %}

{% block content %}

    주제 {{post.get_topic_display }} </br>
    제목 {{post.title}} </br>
    <form method="post">
        {% csrf_token %}
        <p class="fields">
            <label for="id_{{field.name}}">학습날짜</label>
            {{ form.meeting_date }}
        </p>

        <p class="fields">
            <label for="id_{{field.name}}">학습시간</label>
            {{ form.meeting_duration_time }} 분
        </p>
        <p class="fields">
            <label for="id_{{field.name}}">내용</label>
            {{ form.content }}
        </p>

        <button id="" type="submit">등록</button>
     </form>
     <script>
        $(function() {
          $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "2020:2030",
            // You can put more options here.

          });
        });
        </script>
{% endblock %}
