{% extends "matching/base.html" %}

{% block title %}
<title>Tutor Report</title>
{% endblock %}

{% block content %}

    주제 {{post.topic.name}} </br>
    제목 {{post.title}} </br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == "meeting_date" %}
            <p class="fields">
                <label for="id_{{field.name}}">학습날짜</label>
                {{field}}
            </p>
            {% elif field.name == "meeting_duration_time" %}
            <p class="fields">
                <label for="id_{{field.name}}">학습시간</label>
                {{field}}
            </p>
            {% else %}
            <p class="fields">
                <label for="id_{{field.name}}">내용</label>
                {{field}}
            </p>
            {% endif %}
        {% endfor %}
        <button id="" type="submit">등록</button>
     </form>

{% endblock %}
