{% extends 'matching/base.html' %}

{% block title %}
<title>Tutor Page</title>
{% endblock %}

{% block content %}
<h3 style="margin-left:130px; margin-top:20px; color:#8f86c4;">튜터: {{tutor}}</h3>
<div id="post_table_div" class="tableDiv">
    <table id="post_table" class="table">
        <thead>
        <tr>
          <th scope="col" style="width:50px" class="text-center">번호</th>
          <th scope="col" style="width:100px" class="text-center">Status</th>
          <th scope="col" style="width:400px" class="text-center">제목</th>
          <th scope="col" class="text-center">튜티</th>
          <th scope="col" class="text-center">튜터링 시작 시간</th>
          <th scope="col" class="text-center">튜터링 종료 시간</th>
          <th scope="col" class="text-center">보고서</th>
        </tr>
        </thead>
        <tbody>
        {% for post in postlist %}
          <tr>
              <td class="text-center text-nowrap align-middle"> {{post.pk}} </td>
              {% if post.finding_match ==  True %}
                  <td class="text-center text-nowrap align-middle" style="color:#0c6b27"> 모집중 </td>
              {% elif post.start_time != Null and post.fin_time == Null %}
                  <td class="text-center text-nowrap align-middle" style="color:#2112bf"> 진행중 </td>
              {% elif not post.report and post.user == request.user and post.tutor %}
                  <td class="text-center text-nowrap align-middle" style="color:#b1100a"> 보고서 미작성 </td>
              {% else %}
                  <td class="text-center text-nowrap align-middle" style="color:#bbb"> 종료 </td>
              {% endif %}
              <td class="text-center text-nowrap align-middle">
                <a href='{% url "matching:post_detail" post.pk %}'>
                {{post.title}}
                </a>
              </td>
              {% if post.start_time == None %}
                  <td class="text-center text-nowrap align-middle"> - </td>
              {% else %}
                  <td class="text-center text-nowrap align-middle">{{post.start_time}}</td>
              {% endif %}

              {% if post.fin_time == None %}
                  <td class="text-center text-nowrap align-middle"> - </td>
              {% else %}
                  <td class="text-center text-nowrap align-middle">{{post.fin_time}}</td>
              {% endif %}
      
              <td class="text-center text-nowrap align-middle">
                {% if post.report %}
                <a href='{% url "matching:report_detail" post.report.pk %}'>
                보기
                </a>
                {% endif %}
              </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
