{% extends "matching/base.html" %}

{% block title %}
<title>Tutor Home</title>
{% endblock %}

{% block content %}

    <div id="tableDiv">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-center">번호</th>
                <th scope="col" class="text-center">주제</th>
                <th scope="col" class="text-center">제목</th>
                <th scope="col" class="text-center">닉네임</th>
                <th scope="col" class="text-center">시간</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td class="text-center"> {{forloop.counter}}</td>
                    <td scope="row" class="text-center">{{post.topic.name}}</td>
                    {% if post.finding_match ==  True %}
                    <td> <span id="finding" class="dot"></span> &nbsp;&nbsp;<a href="{% url 'matching:post_detail' post.pk %}">{{post.title}}</a></td>
                    {% else %}
                    <td> <span id="found" class="dot"></span> &nbsp;&nbsp;{{post.title}}</td>
                    {% endif %}
                    <td class="text-center">{{post.user.nickname}}</td>
                    <td class="text-center">{{post.pub_date}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if posts%}
    {% else %}
        <p>등록된 post가 없음</p>
    {% endif %}

{% endblock %}
