{% extends 'matching/base.html' %}

{% block title %}
<title>Tutor Page</title>
{% endblock %}

{% block content %}
<h3>튜터: {{tutor}}</h3>
<div id="post_table_div" class="tableDiv">
    <table id="post_table" class="table">
        <thead>
        <tr>
          <th scope="col" style="width:50px" class="text-center">번호</th>
          <!--<th scope="col" class="text-center">주제</th>-->
          <th scope="col" class="text-center">학번</th>
          <th scope="col" class="text-center">닉네임</th>
          <th scope="col" class="text-center">시간</th>
        </tr>
        </thead>
        <tbody>
        {% for post in postlist %}
          <tr>
              <td class="text-center text-nowrap align-middle"> {{post.pk}} </td>
              <!--<td scope="row" class="text-center">{{post.get_topic_display}}</td>-->
              <td class="text-center text-nowrap align-middle">{{post.title}}</td>
              <td class="text-center text-nowrap align-middle">{{post.start_time}}</td>
              <td class="text-center text-nowrap align-middle">{{post.fin_time}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
