{% extends 'matching/base.html' %}

{% block title %}
<title>관리자 페이지</title>
{% endblock %}

{% block content %}

<div class="tableDiv mypage_table">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'matching:admin_home' %}">튜터 랭킹</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">사용자 목록</a>
  </li>
</ul>

<div id="post_table_div" class="tableDiv">
  <table id="post_table" class="table">
      <thead>
      <tr>
        <th scope="col" style="width:50px" class="text-center">번호</th>
        <!--<th scope="col" class="text-center">주제</th>-->
        <th scope="col" class="text-center">닉네임</th>
        <th scope="col" class="text-center">e-mail</th>
        <th scope="col" class="text-center">튜터 권한 지정</th>
        <th scope="col" class="text-center">튜터 권한 제거</th>
      </tr>
      </thead>
      <tbody>
      {% for user in userlist %}
        <tr>
            <td class="text-center text-nowrap align-middle"> {{user.pk}} </td>
            <td class="text-center text-nowrap align-middle">{{ user.profile.nickname }}</a></td>
            <td class="text-center text-nowrap align-middle">{{ user.email }}</td>
            <td class="text-center text-nowrap align-middle">
                {% if not user.profile.is_tutor %}
                <button class="mybutton" type="submit"  data-toggle="modal" data-target="#makeTutor{{user.pk}}">지정</button>
                {% endif %}
            </td>
            <td class="text-center text-nowrap align-middle">
                {% if user.profile.is_tutor %}
                <button class="mybutton" type="submit"  data-toggle="modal" data-target="#removeTutor{{user.pk}}">제거</button>
                {% endif %}
            </td>
        </tr>

        <div class="modal fade" id="makeTutor{{user.pk}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">튜터 권한 지정</h4>
            </div>
            <div class="modal-body">
                <p>{{user.email}} : {{ user.profile.nickname}} </p>
                <p>해당 사용자에게 튜터 권한을 주시겠습니까?</p>
                <div class="row" style="float: right;">
                    <div class="col-12-xs text-center" style="margin-right: 1em;">
                        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:make_tutor" user.pk %}'">Yes</button>
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>
        

        <div class="modal fade" id="removeTutor{{user.pk}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">튜터 권한 제거</h4>
            </div>
            <div class="modal-body">
                <p>{{user.email}} : {{ user.profile.nickname}} </p>
                <p>해당 사용자에게 튜터 권한을 제거하시겠습니까?</p>
                <div class="row" style="float: right;">
                    <div class="col-12-xs text-center" style="margin-right: 1em;">
                        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" type="button" class="close" data-dismiss="modal">No</button>
                        <button class="btn btn-md" style="border: 2px solid #6C639C; border-radius: 15px;" onclick="location.href='{% url "matching:remove_tutor" user.pk %}'">Yes</button>
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>
      {% endfor %}
      </tbody>
  </table>
</div>


</div>



{% endblock %}
