{% extends 'matching/base.html' %}

{% block title %}
<title>Waiting Page</title>
{% endblock %}

{% block content %}
<div id="waiting_list">
  <div id="waiting">Waiting...</div>
  <div class="text-center">순서가 올 때까지 조금만 기다려주세요.</div>
  <div id="totalWaiting" class="text-center">총 대기자 수 : {{totalWaiting}}</div>
  <div id="waiting_info" class="flex-container text-center">
    <div id="waitingBefore">BEFORE : {{waitingBeforeTutee}}</div>
    <div id="current">내 대기 순서 : {{tuteeTurn}}</div> 
    <div id="waitingAfter">AFTER : {{waitingAfterTutee}}</div> 
  </div>
  <div id="line_image">
    <img class="stickMan" src="https://image.flaticon.com/icons/svg/10/10522.svg">
    <img class="stickMan" src="https://image.flaticon.com/icons/svg/10/10522.svg">
    <img class="stickMan" src="https://image.flaticon.com/icons/svg/10/10522.svg">
    <img class="stickMan" src="https://image.flaticon.com/icons/svg/10/10581.svg">
    <img class="stickMan" src="https://image.flaticon.com/icons/svg/10/10522.svg">
    <img class="stickMan" src="https://image.flaticon.com/icons/svg/10/10522.svg">
    <img class="stickMan" src="https://image.flaticon.com/icons/svg/10/10522.svg">
  </div>
</div>
{% endblock %}